In [1]:
#ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import yfinance, pandas and os
import yfinance as yf
import pandas as pd
import datetime
import os
import yesg

In [3]:
# saving the final_info df to csv
file_to_load = os.path.join("Resources", "Just_100_company_List.csv")
stocks_df = pd.read_csv(file_to_load)

In [4]:
Symbols = stocks_df['Symbol'].to_list()

In [5]:
def create_esg_full(Symbols):
    esg_data = pd.DataFrame()
    
    for i in Symbols:
        try:
            temp =pd.DataFrame(yesg.get_esg_full(i))
            
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                esg_data = esg_data.append(temp, ignore_index = True) 
                print(f'{i}: info appended')
        
        except Exception:
            None
         
    esg_data['Total-Score'] = pd.to_numeric(esg_data['Total-Score'])
    esg_data['E-Score'] = pd.to_numeric(esg_data['E-Score'])
    esg_data['S-Score'] = pd.to_numeric(esg_data['S-Score'])
    esg_data['G-Score'] = pd.to_numeric(esg_data['G-Score'])
    esg_data['Last Rated']= pd.to_datetime(esg_data['Last Rated'])
    esg_data.drop(['environment Percentile','social Percentile', 'governance Percentile'], axis = 1, inplace = True)
    esg_data.loc[esg_data['Controversial Business Areas'] == "", "Controversial Business Areas"] = 'None'
    esg_data.loc[esg_data['related Controversy'] == "-", "related Controversy"] = 'None'
    esg_data.insert(0, "TICKER", esg_data.pop('Ticker'))
    
    return esg_data

In [6]:
esg_data = create_esg_full(Symbols)

INTC: info appended
MSFT: info appended
CRM: info appended
BAC: info appended
PYPL: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
ADBE: info appended
V: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
HPQ: info appended
JPM: info appended
WDAY: info appended
GM: info appended
AEP: info appended
ILMN: info appended
UNH: info appended
CI: info appended
LNG: info appended
BIIB: info appended
AMAT: info appended
DAL: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
AKAM: info appended
EIX: info appended
JNJ: info appended
BSX: info appended
PEG: info appended
KEYS: info appended
SYF: info appended
VMW: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
MET: info appended
ETR: info appended
QCOM: info appended
NOW: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
JLL: info appended
DIS: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
EW: info appended
NLSN: info appended
EBAY: info appended
XOM: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended
PANW: info appended

In [7]:
print(esg_data.shape)
esg_data.isnull().sum()

(89, 28)

TICKER                          0
Total-Score                     0
E-Score                         0
S-Score                         0
G-Score                         0
Last Rated                      0
ESG Performance                 0
peer Group                      0
Highest Controversy             0
peer Count                      0
total Percentile                0
related Controversy             0
min peer ESG                    0
avg peer ESG                    0
max peer ESG                    0
min peer Environment            0
avg peer Environment            0
max peer Environment            0
min peer Social                 0
avg peer Social                 0
max peer Social                 0
min peer Governance             0
avg peer Governance             0
max peer Governance             0
min Highest Controversy         0
avg Highest Controversy         0
max Highest Controversy         0
Controversial Business Areas    0
dtype: int64

In [8]:
esg_data.dtypes

TICKER                                  object
Total-Score                            float64
E-Score                                float64
S-Score                                float64
G-Score                                float64
Last Rated                      datetime64[ns]
ESG Performance                         object
peer Group                              object
Highest Controversy                    float64
peer Count                               int64
total Percentile                       float64
related Controversy                     object
min peer ESG                           float64
avg peer ESG                           float64
max peer ESG                           float64
min peer Environment                   float64
avg peer Environment                   float64
max peer Environment                   float64
min peer Social                        float64
avg peer Social                        float64
max peer Social                        float64
min peer Governance                    float64
avg peer Governance                    float64
max peer Governance                    float64
min Highest Controversy                float64
avg Highest Controversy                float64
max Highest Controversy                float64
Controversial Business Areas            object
dtype: object

In [9]:
Symbols= esg_data['TICKER'].to_list()
len(Symbols)

89

In [10]:
# Created a function to extract stocks description from yahoo finance
def create_info_list(Symbols):
    # create empty list
    info = []
    # iterate over each symbol
    for i in Symbols:  
        try:
            # download stock info
            temp = []
            temp = yf.Ticker(i).info
            
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                info.append(temp)
                print(f'{i}: info appended')
                
        except Exception:
            None
   
    return info

In [11]:
def create_info(Symbols):
    info_df = pd.DataFrame()
    info = create_info_list(Symbols)
    print(len(info))
    print(len(Symbols))
    if len(info) == 0:
        None
    else:
        info_df = info_df.append(info,sort=False, ignore_index=True)
    
    info_df = info_df[['symbol','longName', 'sector','industry', 'city', 'state','country','fullTimeEmployees',
                       'revenueGrowth', 'forwardEps', 'beta' , 'priceToSalesTrailing12Months' , 'forwardPE', 
                       'dividendRate', 'trailingPE', 'bookValue', 'returnOnAssets', 'returnOnEquity','averageVolume', 'volume','currentPrice',
                       'fiftyTwoWeekLow','fiftyTwoWeekHigh', 'regularMarketPrice', 'marketCap']]
    info_df.rename(columns = {'symbol':'TICKER'}, inplace = True)
    info_df.fillna(0, inplace = True)
    
    return info_df

In [12]:
info_df = create_info(Symbols)
print(len(info_df))
info_df

INTC: info appended
MSFT: info appended
CRM: info appended
BAC: info appended
PYPL: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
ADBE: info appended
V: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
HPQ: info appended
JPM: info appended
WDAY: info appended
GM: info appended
AEP: info appended
ILMN: info appended
UNH: info appended
CI: info appended
LNG: info appended
BIIB: info appended
AMAT: info appended
DAL: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
AKAM: info appended
EIX: info appended
JNJ: info appended
BSX: info appended
PEG: info appended
KEYS: info appended
SYF: info appended
VMW: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
MET: info appended
ETR: info appended
QCOM: info appended
NOW: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
JLL: info appended
DIS: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
EW: info appended
NLSN: info appended
EBAY: info appended
XOM: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended
PANW: info appended
89
89
89

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,...,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,INTC,Intel Corporation,Technology,Semiconductors,Santa Clara,CA,United States,121100.0,0.028,3.72,...,23.438,0.08586,0.22522,39052237,51568578,51.62,43.63,68.49,51.62,2.101966e+11
1,MSFT,Microsoft Corporation,Technology,Software—Infrastructure,Redmond,WA,United States,181000.0,0.201,10.75,...,21.335,0.15249,0.49051,37619678,22702420,304.10,231.10,349.67,304.10,2.279798e+12
2,CRM,"salesforce.com, inc.",Technology,Software—Application,San Francisco,CA,United States,73541.0,0.259,5.77,...,58.778,0.00466,0.02899,7411798,4047474,213.98,184.44,311.75,213.98,2.118402e+11
3,BAC,Bank of America Corporation,Financial Services,Banks—Diversified,Charlotte,NC,United States,208000.0,0.125,3.84,...,30.374,0.01068,0.11778,55111557,30288450,43.07,36.51,50.11,43.07,3.473535e+11
4,PYPL,"PayPal Holdings, Inc.",Financial Services,Credit Services,San Jose,CA,United States,26500.0,0.132,5.27,...,18.816,0.03811,0.24300,22059324,13099584,116.05,92.25,310.16,116.05,1.363506e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,COF,Capital One Financial Corporation,Financial Services,Credit Services,McLean,VA,United States,50800.0,0.159,19.31,...,133.911,0.02959,0.20556,2995114,1883792,135.07,121.44,177.95,135.07,5.748877e+10
85,BBY,"Best Buy Co., Inc.",Consumer Cyclical,Specialty Retail,Richfield,MN,United States,61200.0,0.005,9.23,...,17.547,0.10162,0.63223,3232578,1849004,96.71,85.58,141.97,96.71,2.326465e+10
86,KMB,Kimberly-Clark Corporation,Consumer Defensive,Household & Personal Products,Dallas,TX,United States,45000.0,0.027,6.75,...,1.408,0.10050,2.29639,1993532,2818107,120.09,117.32,145.79,120.09,4.043634e+10
87,EMN,Eastman Chemical Company,Basic Materials,Chemicals,Kingsport,TN,United States,14500.0,0.282,9.56,...,45.522,0.05295,0.08428,1281426,985443,110.64,98.24,130.47,110.64,1.487444e+10
88,PANW,"Palo Alto Networks, Inc.",Technology,Software—Infrastructure,Santa Clara,CA,United States,11527.0,0.295,8.97,...,5.257,-0.01854,-0.79906,1738588,1868333,622.16,311.72,622.99,622.16,6.138629e+10

In [13]:
 info_df.dtypes

TICKER                           object
longName                         object
sector                           object
industry                         object
city                             object
state                            object
country                          object
fullTimeEmployees               float64
revenueGrowth                   float64
forwardEps                      float64
beta                            float64
priceToSalesTrailing12Months    float64
forwardPE                       float64
dividendRate                    float64
trailingPE                      float64
bookValue                       float64
returnOnAssets                  float64
returnOnEquity                  float64
averageVolume                     int64
volume                            int64
currentPrice                    float64
fiftyTwoWeekLow                 float64
fiftyTwoWeekHigh                float64
regularMarketPrice              float64
marketCap                       float64
dtype: object

In [14]:
# function to get the time based data from yahoo finance and storing it in a Dataframe
def create_date_based_dataframes(Symbols,start, end):
    # create empty dataframe
    stocks_df = pd.DataFrame()
    # iterate over each symbol
    for i in Symbols:  

        # print the symbol which is being downloaded
        print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  

        try:
            # download the stock price 
            stock = []
            stock = yf.download(i,start=start, end=end, progress=False)

            # append the individual stock prices 
            if len(stock) == 0:
                None
            else:
                stock['TICKER']=i
                stocks_df = stocks_df.append(stock,sort=False)
                print(f'{i}: data appended')
                
        except Exception:
            None
    stocks_df.dropna(inplace =True)
    stocks_df = stocks_df.rename_axis('Date').reset_index()
    stocks_df.insert(0, "TICKER", stocks_df.pop('TICKER'))
    return stocks_df

In [17]:
# Time series data start and end date YYYY,MM,DD
start = datetime.datetime(2018,3,16)
end = datetime.datetime(2022,3,16)
stock_historical_df = create_date_based_dataframes(Symbols,start, end)
print(len(stock_historical_df['TICKER'].value_counts()))
stock_historical_df

0 : INTC,INTC: data appended
1 : MSFT,MSFT: data appended
2 : CRM,CRM: data appended
3 : BAC,BAC: data appended
4 : PYPL,PYPL: data appended
5 : AAPL,AAPL: data appended
6 : NVDA,NVDA: data appended
7 : VZ,VZ: data appended
8 : CSCO,CSCO: data appended
9 : EXC,EXC: data appended
10 : PEP,PEP: data appended
11 : MA,MA: data appended
12 : HIG,HIG: data appended
13 : C,C: data appended
14 : ANTM,ANTM: data appended
15 : ACN,ACN: data appended
16 : T,T: data appended
17 : IBM,IBM: data appended
18 : F,F: data appended
19 : ADBE,ADBE: data appended
20 : V,V: data appended
21 : OC,OC: data appended
22 : INTU,INTU: data appended
23 : WFC,WFC: data appended
24 : MRK,MRK: data appended
25 : HPQ,HPQ: data appended
26 : JPM,JPM: data appended
27 : WDAY,WDAY: data appended
28 : GM,GM: data appended
29 : AEP,AEP: data appended
30 : ILMN,ILMN: data appended
31 : UNH,UNH: data appended
32 : CI,CI: data appended
33 : LNG,LNG: data appended
34 : BIIB,BIIB: data appended
35 : AMAT,AMAT: data appended
36 : DAL,DAL: data appended
37 : CL,CL: data appended
38 : EQIX,EQIX: data appended
39 : UPS,UPS: data appended
40 : NEM,NEM: data appended
41 : LMT,LMT: data appended
42 : BLK,BLK: data appended
43 : AKAM,AKAM: data appended
44 : EIX,EIX: data appended
45 : JNJ,JNJ: data appended
46 : BSX,BSX: data appended
47 : PEG,PEG: data appended
48 : KEYS,KEYS: data appended
49 : SYF,SYF: data appended
50 : VMW,VMW: data appended
51 : FDX,FDX: data appended
52 : GS,GS: data appended
53 : NOC,NOC: data appended
54 : PG,PG: data appended
55 : ADM,ADM: data appended
56 : MET,MET: data appended
57 : ETR,ETR: data appended
58 : QCOM,QCOM: data appended
59 : NOW,NOW: data appended
60 : GIS,GIS: data appended
61 : DE,DE: data appended
62 : RF,RF: data appended
63 : LOW,LOW: data appended
64 : JLL,JLL: data appended
65 : DIS,DIS: data appended
66 : AMGN,AMGN: data appended
67 : ABT,ABT: data appended
68 : HPE,HPE: data appended
69 : BDX,BDX: data appended
70 : CLX,CLX: data appended
71 : AES,AES: data appended
72 : SPGI,SPGI: data appended
73 : ES,ES: data appended
74 : HSY,HSY: data appended
75 : AXP,AXP: data appended
76 : EW,EW: data appended
77 : NLSN,NLSN: data appended
78 : EBAY,EBAY: data appended
79 : XOM,XOM: data appended
80 : ECL,ECL: data appended
81 : NDAQ,NDAQ: data appended
82 : DLR,DLR: data appended
83 : TT,TT: data appended
84 : COF,COF: data appended
85 : BBY,BBY: data appended
86 : KMB,KMB: data appended
87 : EMN,EMN: data appended
88 : PANW,PANW: data appended
89

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,46.279911,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,45.972404,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,46.623596,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,46.632645,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,45.972404,30916000.0
...,...,...,...,...,...,...,...,...
89618,PANW,2022-03-09,538.700012,561.549988,537.010010,554.909973,554.909973,1731600.0
89619,PANW,2022-03-10,549.650024,559.950012,543.739990,551.849976,551.849976,1074700.0
89620,PANW,2022-03-11,559.219971,559.219971,545.049988,546.030029,546.030029,1175600.0
89621,PANW,2022-03-14,538.380005,545.229980,515.549988,525.309998,525.309998,1603900.0
89622,PANW,2022-03-15,529.330017,541.969971,509.119995,540.059998,540.059998,1269500.0

In [18]:
stock_historical_df.isnull().sum()

TICKER       0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [19]:
stock_historical_df

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,46.279911,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,45.972404,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,46.623596,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,46.632645,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,45.972404,30916000.0
...,...,...,...,...,...,...,...,...
89618,PANW,2022-03-09,538.700012,561.549988,537.010010,554.909973,554.909973,1731600.0
89619,PANW,2022-03-10,549.650024,559.950012,543.739990,551.849976,551.849976,1074700.0
89620,PANW,2022-03-11,559.219971,559.219971,545.049988,546.030029,546.030029,1175600.0
89621,PANW,2022-03-14,538.380005,545.229980,515.549988,525.309998,525.309998,1603900.0
89622,PANW,2022-03-15,529.330017,541.969971,509.119995,540.059998,540.059998,1269500.0

In [20]:
info_df.shape

(89, 25)

In [21]:
# info_df.loc[info_df['TICKER'] == 'ETR', 'industry'] = 'Electric Utilities'
info_df[info_df['TICKER'] == 'ETR']

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,...,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
57,ETR,Entergy Corporation,Utilities,Utilities—Regulated Electric,New Orleans,LA,United States,12369.0,0.149,6.34,...,55.99,0.02146,0.09682,1249745,954141,112.73,96.8,115.02,112.73,2.265659e+10

In [22]:
info_df['industry'].value_counts()

Credit Services                        6
Software—Infrastructure                5
Household & Personal Products          4
Software—Application                   4
Banks—Diversified                      4
Utilities—Regulated Electric           4
Drug Manufacturers—General             4
Medical Devices                        3
Semiconductors                         3
Utilities—Diversified                  3
Healthcare Plans                       3
Information Technology Services        2
Auto Manufacturers                     2
Communication Equipment                2
Telecom Services                       2
Aerospace & Defense                    2
Integrated Freight & Logistics         2
Financial Data & Stock Exchanges       2
Home Improvement Retail                1
Real Estate Services                   1
Medical Instruments & Supplies         1
Entertainment                          1
Banks—Regional                         1
Oil & Gas Integrated                   1
Confectioners                          1
Consulting Services                    1
Internet Retail                        1
Packaged Foods                         1
Specialty Chemicals                    1
REIT—Office                            1
Specialty Industrial Machinery         1
Specialty Retail                       1
Farm & Heavy Construction Machinery    1
Gold                                   1
Insurance—Life                         1
Farm Products                          1
Capital Markets                        1
Scientific & Technical Instruments     1
Asset Management                       1
REIT—Specialty                         1
Airlines                               1
Semiconductor Equipment & Materials    1
Oil & Gas Midstream                    1
Diagnostics & Research                 1
Computer Hardware                      1
Building Products & Equipment          1
Insurance—Diversified                  1
Beverages—Non-Alcoholic                1
Consumer Electronics                   1
Chemicals                              1
Name: industry, dtype: int64

In [23]:
stock_historical_df['TICKER']

0        INTC
1        INTC
2        INTC
3        INTC
4        INTC
         ...
89618    PANW
89619    PANW
89620    PANW
89621    PANW
89622    PANW
Name: TICKER, Length: 89623, dtype: object

In [24]:
# Save esg scores
# file_to_save = os.path.join("Resources", "latest_esg_scores.csv")
# esg_scores.to_csv(file_to_save, index = False)

# Save full_esg
file_to_save = os.path.join("Resources", "latest_esg_details.csv")
esg_data.to_csv(file_to_save, index = False)

# Save full_info
file_to_save = os.path.join("Resources", "latest_stocks_details.csv")
info_df.to_csv(file_to_save, index = False)

# Save stocks historical data
file_to_save = os.path.join("Resources", "latest_stocks_historical_data.csv")
stock_historical_df.to_csv(file_to_save, index = False)