In [1]:
#ignore warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import yfinance, pandas and os
import yfinance as yf
import pandas as pd
import datetime
import os
import yesg

In [3]:
# Tickers, Forbes Just 100 top esg companies with all financial and esg details are available on yahoo finance
Symbols = ["INTC", "MSFT", "BAC", "AAPL", "NVDA", "VZ", "CSCO", "EXC", "PEP", "MA", "HIG", "C", "ANTM", "ACN", "T", "IBM",
           "F", "OC", "INTU", "WFC", "MRK", "JPM", "AEP", "UNH", "CI", "AMAT", "CL", "EQIX", "UPS", "NEM", "LMT", "BLK",
           "EIX", "JNJ", "SYF", "FDX", "GS", "NOC", "PG", "ADM", "ETR", "QCOM", "GIS", "DE", "RF", "LOW", "AMGN", "ABT",
           "HPE", "BDX", "CLX", "AES", "SPGI", "ES", "HSY", "AXP", "NLSN", "EBAY", "ECL", "NDAQ", "DLR", "TT", "COF", "BBY", 
           "KMB", "EMN"]

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
def create_esg_full(Symbols):
    esg_data = pd.DataFrame()
    
    for i in Symbols:
        try:
            temp =pd.DataFrame(yesg.get_esg_full(i))
            
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                esg_data = esg_data.append(temp, ignore_index = True) 
                print(f'{i}: info appended')
        
        except Exception:
            None
         
    esg_data['Total-Score'] = pd.to_numeric(esg_data['Total-Score'])
    esg_data['E-Score'] = pd.to_numeric(esg_data['E-Score'])
    esg_data['S-Score'] = pd.to_numeric(esg_data['S-Score'])
    esg_data['G-Score'] = pd.to_numeric(esg_data['G-Score'])
    esg_data['Last Rated']= pd.to_datetime(esg_data['Last Rated'])
    esg_data.drop(['environment Percentile','social Percentile', 'governance Percentile'], axis = 1, inplace = True)
    esg_data.loc[esg_data['Controversial Business Areas'] == "", "Controversial Business Areas"] = 'None'
    esg_data.loc[esg_data['related Controversy'] == "-", "related Controversy"] = 'None'
    esg_data['ESG Performance'].fillna('Not Available', inplace = True)
    esg_data.insert(0, "TICKER", esg_data.pop('Ticker'))
    
    return esg_data

In [6]:
esg_data = create_esg_full(Symbols)

INTC: info appended
MSFT: info appended
BAC: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
JPM: info appended
AEP: info appended
UNH: info appended
CI: info appended
AMAT: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
EIX: info appended
JNJ: info appended
SYF: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
ETR: info appended
QCOM: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
NLSN: info appended
EBAY: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended

In [7]:
print(esg_data.shape)
esg_data.isnull().sum()

(66, 28)

TICKER                          0
Total-Score                     0
E-Score                         0
S-Score                         0
G-Score                         0
Last Rated                      0
ESG Performance                 0
peer Group                      0
Highest Controversy             0
peer Count                      0
total Percentile                0
related Controversy             0
min peer ESG                    0
avg peer ESG                    0
max peer ESG                    0
min peer Environment            0
avg peer Environment            0
max peer Environment            0
min peer Social                 0
avg peer Social                 0
max peer Social                 0
min peer Governance             0
avg peer Governance             0
max peer Governance             0
min Highest Controversy         0
avg Highest Controversy         0
max Highest Controversy         0
Controversial Business Areas    0
dtype: int64

In [8]:
esg_data.dtypes

TICKER                                  object
Total-Score                              int64
E-Score                                  int64
S-Score                                  int64
G-Score                                  int64
Last Rated                      datetime64[ns]
ESG Performance                         object
peer Group                              object
Highest Controversy                    float64
peer Count                               int64
total Percentile                       float64
related Controversy                     object
min peer ESG                           float64
avg peer ESG                           float64
max peer ESG                           float64
min peer Environment                   float64
avg peer Environment                   float64
max peer Environment                   float64
min peer Social                        float64
avg peer Social                        float64
max peer Social                        float64
min peer Governance                    float64
avg peer Governance                    float64
max peer Governance                    float64
min Highest Controversy                float64
avg Highest Controversy                float64
max Highest Controversy                float64
Controversial Business Areas            object
dtype: object

In [9]:
Symbols= esg_data['TICKER'].to_list()
len(Symbols)

66

In [10]:
# Created a function to extract stocks description from yahoo finance
def create_info_list(Symbols):
    # create empty list
    info = []
    # iterate over each symbol
    for i in Symbols:  
        try:
            # download stock info
            temp = []
            temp = yf.Ticker(i).info
                        
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                info.append(temp)
                print(f'{i}: info appended')
                
        except Exception:
            None
   
    return info

In [11]:
def create_info(Symbols):
    info_df = pd.DataFrame()
    info = create_info_list(Symbols)
    print(len(info))
    print(len(Symbols))
    if len(info) == 0:
        None
    else:
        info_df = info_df.append(info,sort=False, ignore_index=True)
    
    info_df = info_df[['symbol','longName', 'sector','industry', 'city', 'state','country','fullTimeEmployees',
                       'revenueGrowth', 'forwardEps', 'beta' , 'priceToSalesTrailing12Months' , 'forwardPE', 
                       'dividendRate', 'trailingPE', 'bookValue', 'returnOnAssets', 'returnOnEquity','averageVolume', 'volume','currentPrice',
                       'fiftyTwoWeekLow','fiftyTwoWeekHigh', 'regularMarketPrice', 'marketCap']]
    info_df.rename(columns = {'symbol':'TICKER'}, inplace = True)
    info_df.loc[info_df['country'] == 'Ireland', 'state'] = 'Leinster'
    return info_df

In [12]:
info_df = create_info(Symbols)
print(len(info_df))
info_df

INTC: info appended
MSFT: info appended
BAC: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
JPM: info appended
AEP: info appended
UNH: info appended
CI: info appended
AMAT: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
EIX: info appended
JNJ: info appended
SYF: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
ETR: info appended
QCOM: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
NLSN: info appended
EBAY: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended
66
66
66

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,beta,priceToSalesTrailing12Months,forwardPE,dividendRate,trailingPE,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,INTC,Intel Corporation,Technology,Semiconductors,Santa Clara,CA,United States,121100,0.028,3.70,0.535554,2.667451,14.008108,1.46,10.048469,22.151,0.08586,0.22522,39160477,33249492,51.83,43.63,68.49,51.83,210792628224
1,MSFT,Microsoft Corporation,Technology,Software—Infrastructure,Redmond,WA,United States,181000,0.220,10.54,0.872727,12.936229,28.812143,2.48,33.972477,20.242,0.14589,0.49303,37172328,22566453,303.68,231.10,349.67,303.68,2280023130112
2,BAC,Bank of America Corporation,Financial Services,Banks—Diversified,Charlotte,NC,United States,208000,0.125,3.16,1.426653,3.819243,13.838607,0.84,13.092814,30.217,0.01068,0.11778,54462422,37864565,43.73,36.51,50.11,43.73,357889802240
3,AAPL,Apple Inc.,Technology,Consumer Electronics,Cupertino,CA,United States,154000,0.288,6.18,1.203116,7.835957,28.271845,0.88,31.144384,3.841,0.20179,1.47443,93171577,80546156,174.72,118.86,182.94,174.72,2866526289920
4,NVDA,NVIDIA Corporation,Technology,Semiconductors,Santa Clara,CA,United States,18975,0.503,5.21,1.366753,28.428963,53.151634,0.16,85.390076,9.512,0.15934,0.41940,52078420,57901618,276.92,127.00,346.47,276.92,690084642816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,TT,Trane Technologies plc,Industrials,Specialty Industrial Machinery,Swords,Leinster,Ireland,35000,0.064,6.98,1.222857,2.688487,22.289398,2.36,27.971954,27.264,0.06885,0.21421,1612676,1152377,155.58,142.53,207.06,155.58,36956475392
62,COF,Capital One Financial Corporation,Financial Services,Credit Services,McLean,VA,United States,50800,0.159,19.31,1.653319,1.823538,7.036769,2.40,5.081716,133.911,0.02959,0.20556,2965503,2183027,135.88,122.43,177.95,135.88,57833521152
63,BBY,"Best Buy Co., Inc.",Consumer Cyclical,Specialty Retail,Richfield,MN,United States,61200,0.005,9.23,1.587532,0.442666,10.433371,2.80,9.310645,17.547,0.10162,0.63223,3185965,1646632,96.30,85.58,141.97,96.30,23166023680
64,KMB,Kimberly-Clark Corporation,Consumer Defensive,Household & Personal Products,Dallas,TX,United States,45000,0.027,6.75,0.520669,2.083350,17.819260,4.64,20.448828,1.408,0.10050,2.29639,2004503,1778481,120.28,117.32,145.79,120.28,40500318208
65,EMN,Eastman Chemical Company,Basic Materials,Chemicals,Kingsport,TN,United States,14500,0.282,9.56,1.532467,1.492894,11.578451,3.04,29.707460,45.522,0.05295,0.08428,1270320,825793,110.69,98.24,130.47,110.69,14881164288

In [13]:
info_df['industry'] = esg_data['peer Group']
info_df

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,beta,priceToSalesTrailing12Months,forwardPE,dividendRate,trailingPE,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,INTC,Intel Corporation,Technology,Semiconductors,Santa Clara,CA,United States,121100,0.028,3.70,0.535554,2.667451,14.008108,1.46,10.048469,22.151,0.08586,0.22522,39160477,33249492,51.83,43.63,68.49,51.83,210792628224
1,MSFT,Microsoft Corporation,Technology,Software & Services,Redmond,WA,United States,181000,0.220,10.54,0.872727,12.936229,28.812143,2.48,33.972477,20.242,0.14589,0.49303,37172328,22566453,303.68,231.10,349.67,303.68,2280023130112
2,BAC,Bank of America Corporation,Financial Services,Banks,Charlotte,NC,United States,208000,0.125,3.16,1.426653,3.819243,13.838607,0.84,13.092814,30.217,0.01068,0.11778,54462422,37864565,43.73,36.51,50.11,43.73,357889802240
3,AAPL,Apple Inc.,Technology,Technology Hardware,Cupertino,CA,United States,154000,0.288,6.18,1.203116,7.835957,28.271845,0.88,31.144384,3.841,0.20179,1.47443,93171577,80546156,174.72,118.86,182.94,174.72,2866526289920
4,NVDA,NVIDIA Corporation,Technology,Semiconductors,Santa Clara,CA,United States,18975,0.503,5.21,1.366753,28.428963,53.151634,0.16,85.390076,9.512,0.15934,0.41940,52078420,57901618,276.92,127.00,346.47,276.92,690084642816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,TT,Trane Technologies plc,Industrials,Building Products,Swords,Leinster,Ireland,35000,0.064,6.98,1.222857,2.688487,22.289398,2.36,27.971954,27.264,0.06885,0.21421,1612676,1152377,155.58,142.53,207.06,155.58,36956475392
62,COF,Capital One Financial Corporation,Financial Services,Diversified Financials,McLean,VA,United States,50800,0.159,19.31,1.653319,1.823538,7.036769,2.40,5.081716,133.911,0.02959,0.20556,2965503,2183027,135.88,122.43,177.95,135.88,57833521152
63,BBY,"Best Buy Co., Inc.",Consumer Cyclical,Retailing,Richfield,MN,United States,61200,0.005,9.23,1.587532,0.442666,10.433371,2.80,9.310645,17.547,0.10162,0.63223,3185965,1646632,96.30,85.58,141.97,96.30,23166023680
64,KMB,Kimberly-Clark Corporation,Consumer Defensive,Household Products,Dallas,TX,United States,45000,0.027,6.75,0.520669,2.083350,17.819260,4.64,20.448828,1.408,0.10050,2.29639,2004503,1778481,120.28,117.32,145.79,120.28,40500318208
65,EMN,Eastman Chemical Company,Basic Materials,Chemicals,Kingsport,TN,United States,14500,0.282,9.56,1.532467,1.492894,11.578451,3.04,29.707460,45.522,0.05295,0.08428,1270320,825793,110.69,98.24,130.47,110.69,14881164288

In [14]:
# If only numeric values 
info_df.isnull().sum()

TICKER                          0
longName                        0
sector                          0
industry                        0
city                            0
state                           0
country                         0
fullTimeEmployees               0
revenueGrowth                   0
forwardEps                      0
beta                            0
priceToSalesTrailing12Months    0
forwardPE                       0
dividendRate                    0
trailingPE                      0
bookValue                       0
returnOnAssets                  0
returnOnEquity                  0
averageVolume                   0
volume                          0
currentPrice                    0
fiftyTwoWeekLow                 0
fiftyTwoWeekHigh                0
regularMarketPrice              0
marketCap                       0
dtype: int64

In [15]:
info_df.dtypes

TICKER                           object
longName                         object
sector                           object
industry                         object
city                             object
state                            object
country                          object
fullTimeEmployees                 int64
revenueGrowth                   float64
forwardEps                      float64
beta                            float64
priceToSalesTrailing12Months    float64
forwardPE                       float64
dividendRate                    float64
trailingPE                      float64
bookValue                       float64
returnOnAssets                  float64
returnOnEquity                  float64
averageVolume                     int64
volume                            int64
currentPrice                    float64
fiftyTwoWeekLow                 float64
fiftyTwoWeekHigh                float64
regularMarketPrice              float64
marketCap                         int64
dtype: object

In [16]:
# function to get the time based data from yahoo finance and storing it in a Dataframe
def create_date_based_dataframes(Symbols,start, end):
    # create empty dataframe
    stocks_df = pd.DataFrame()
    # iterate over each symbol
    for i in Symbols:  

        # print the symbol which is being downloaded
        print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  

        try:
            # download the stock price 
            stock = []
            stock = yf.download(i,start=start, end=end, progress=False)

            # append the individual stock prices 
            if len(stock) == 0:
                None
            else:
                stock['TICKER']=i
                stocks_df = stocks_df.append(stock,sort=False)
                print(f'{i}: data appended')
                
        except Exception:
            None
    stocks_df.dropna(inplace =True)
    stocks_df = stocks_df.rename_axis('Date').reset_index()
    stocks_df.insert(0, "TICKER", stocks_df.pop('TICKER'))
    return stocks_df

In [17]:
# Time series data start and end date YYYY,MM,DD
start = datetime.datetime(2018,3,16)
end = datetime.datetime(2022,3,16)
stock_historical_df = create_date_based_dataframes(Symbols,start, end)
print(len(stock_historical_df['TICKER'].value_counts()))
stock_historical_df

0 : INTC,INTC: data appended
1 : MSFT,MSFT: data appended
2 : BAC,BAC: data appended
3 : AAPL,AAPL: data appended
4 : NVDA,NVDA: data appended
5 : VZ,VZ: data appended
6 : CSCO,CSCO: data appended
7 : EXC,EXC: data appended
8 : PEP,PEP: data appended
9 : MA,MA: data appended
10 : HIG,HIG: data appended
11 : C,C: data appended
12 : ANTM,ANTM: data appended
13 : ACN,ACN: data appended
14 : T,T: data appended
15 : IBM,IBM: data appended
16 : F,F: data appended
17 : OC,OC: data appended
18 : INTU,INTU: data appended
19 : WFC,WFC: data appended
20 : MRK,MRK: data appended
21 : JPM,JPM: data appended
22 : AEP,AEP: data appended
23 : UNH,UNH: data appended
24 : CI,CI: data appended
25 : AMAT,AMAT: data appended
26 : CL,CL: data appended
27 : EQIX,EQIX: data appended
28 : UPS,UPS: data appended
29 : NEM,NEM: data appended
30 : LMT,LMT: data appended
31 : BLK,BLK: data appended
32 : EIX,EIX: data appended
33 : JNJ,JNJ: data appended
34 : SYF,SYF: data appended
35 : FDX,FDX: data appended
36 : GS,GS: data appended
37 : NOC,NOC: data appended
38 : PG,PG: data appended
39 : ADM,ADM: data appended
40 : ETR,ETR: data appended
41 : QCOM,QCOM: data appended
42 : GIS,GIS: data appended
43 : DE,DE: data appended
44 : RF,RF: data appended
45 : LOW,LOW: data appended
46 : AMGN,AMGN: data appended
47 : ABT,ABT: data appended
48 : HPE,HPE: data appended
49 : BDX,BDX: data appended
50 : CLX,CLX: data appended
51 : AES,AES: data appended
52 : SPGI,SPGI: data appended
53 : ES,ES: data appended
54 : HSY,HSY: data appended
55 : AXP,AXP: data appended
56 : NLSN,NLSN: data appended
57 : EBAY,EBAY: data appended
58 : ECL,ECL: data appended
59 : NDAQ,NDAQ: data appended
60 : DLR,DLR: data appended
61 : TT,TT: data appended
62 : COF,COF: data appended
63 : BBY,BBY: data appended
64 : KMB,KMB: data appended
65 : EMN,EMN: data appended
66

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,47.260136,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,46.946121,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,47.611103,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,47.620346,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,46.946121,30916000.0
...,...,...,...,...,...,...,...,...
66457,EMN,2022-03-09,107.809998,109.629997,107.349998,108.709999,108.709999,2445400.0
66458,EMN,2022-03-10,107.580002,107.889999,105.760002,106.889999,106.889999,1750700.0
66459,EMN,2022-03-11,107.440002,107.660004,105.389999,105.419998,105.419998,1610800.0
66460,EMN,2022-03-14,105.839996,107.209999,104.370003,106.080002,106.080002,1504800.0
66461,EMN,2022-03-15,106.709999,107.199997,104.540001,106.000000,106.000000,1208900.0

In [18]:
stock_historical_df.isnull().sum()

TICKER       0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [19]:
stock_historical_df

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,47.260136,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,46.946121,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,47.611103,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,47.620346,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,46.946121,30916000.0
...,...,...,...,...,...,...,...,...
66457,EMN,2022-03-09,107.809998,109.629997,107.349998,108.709999,108.709999,2445400.0
66458,EMN,2022-03-10,107.580002,107.889999,105.760002,106.889999,106.889999,1750700.0
66459,EMN,2022-03-11,107.440002,107.660004,105.389999,105.419998,105.419998,1610800.0
66460,EMN,2022-03-14,105.839996,107.209999,104.370003,106.080002,106.080002,1504800.0
66461,EMN,2022-03-15,106.709999,107.199997,104.540001,106.000000,106.000000,1208900.0

In [20]:
info_df.shape

(66, 25)

In [21]:
info_df['industry'].value_counts()

Diversified Financials        7
Utilities                     6
Software & Services           6
Healthcare                    5
Banks                         5
Semiconductors                4
Household Products            4
Food Products                 4
Pharmaceuticals               3
Technology Hardware           3
Building Products             2
Telecommunication Services    2
Real Estate                   2
Transportation                2
Aerospace & Defense           2
Retailing                     2
Chemicals                     2
Automobiles                   1
Insurance                     1
Precious Metals               1
Machinery                     1
Commercial Services           1
Name: industry, dtype: int64

In [22]:
stock_historical_df['TICKER']

0        INTC
1        INTC
2        INTC
3        INTC
4        INTC
         ...
66457     EMN
66458     EMN
66459     EMN
66460     EMN
66461     EMN
Name: TICKER, Length: 66462, dtype: object

In [23]:
business_controversy_df = esg_data['Controversial Business Areas'].str.get_dummies(sep=', ')
business_controversy_df['TICKER'] = esg_data['TICKER']
business_controversy_df.insert(0, "TICKER", business_controversy_df.pop('TICKER'))
business_controversy_df

,TICKER,Animal Testing,Catholic Values,Controversial Weapons,Military Contracting,None,Nuclear,Small Arms,Thermal Coal
0,INTC,0,0,0,0,1,0,0,0
1,MSFT,0,0,0,0,1,0,0,0
2,BAC,0,0,0,0,1,0,0,0
3,AAPL,0,0,0,0,1,0,0,0
4,NVDA,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
61,TT,0,0,0,0,1,0,0,0
62,COF,0,0,0,0,1,0,0,0
63,BBY,0,0,0,0,1,0,0,0
64,KMB,1,0,0,0,0,0,0,0
65,EMN,1,0,0,0,0,0,0,0

In [24]:
controversy_type_df = esg_data['related Controversy'].str.get_dummies(sep=',')
controversy_type_df['TICKER'] = esg_data['TICKER']
controversy_type_df.insert(0, "TICKER", controversy_type_df.pop('TICKER'))
controversy_type_df

,TICKER,Business Ethics Incidents,Customer Incidents,Employee Incidents,Environmental Supply Chain Incidents,Governance Incidents,None,Operations Incidents,Product & Service Incidents,Public Policy Incidents,Social Supply Chain Incidents,Society & Community Incidents
0,INTC,1,1,0,0,0,0,0,0,0,0,0
1,MSFT,0,1,0,0,0,0,0,0,0,0,0
2,BAC,1,1,0,0,0,0,0,0,0,0,1
3,AAPL,1,1,0,0,0,0,0,0,0,1,0
4,NVDA,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
61,TT,1,0,1,0,0,0,0,0,0,0,0
62,COF,0,1,0,0,0,0,0,0,0,0,0
63,BBY,1,1,1,1,0,0,0,0,0,1,0
64,KMB,0,1,0,0,0,0,0,0,0,1,0
65,EMN,1,0,0,0,0,0,0,0,0,0,1

In [25]:
business_controversy_df[36:40]

,TICKER,Animal Testing,Catholic Values,Controversial Weapons,Military Contracting,None,Nuclear,Small Arms,Thermal Coal
36,GS,0,0,0,0,1,0,0,0
37,NOC,0,0,1,1,0,0,1,0
38,PG,1,0,0,0,0,0,0,0
39,ADM,1,0,0,0,0,0,0,0

In [26]:
controversy_type_df[42:48]

,TICKER,Business Ethics Incidents,Customer Incidents,Employee Incidents,Environmental Supply Chain Incidents,Governance Incidents,None,Operations Incidents,Product & Service Incidents,Public Policy Incidents,Social Supply Chain Incidents,Society & Community Incidents
42,GIS,0,1,0,1,0,0,1,0,1,1,1
43,DE,1,0,1,0,0,0,1,0,0,0,1
44,RF,1,1,0,0,0,0,0,1,0,0,1
45,LOW,1,1,1,0,0,0,0,0,0,0,0
46,AMGN,0,0,0,0,0,0,0,0,0,0,1
47,ABT,0,1,0,0,0,0,0,0,0,0,0

In [29]:
controversy_type_df.dtypes

TICKER                                  object
Business Ethics Incidents                int64
Customer Incidents                       int64
Employee Incidents                       int64
Environmental Supply Chain Incidents     int64
Governance Incidents                     int64
None                                     int64
Operations Incidents                     int64
Product & Service Incidents              int64
Public Policy Incidents                  int64
Social Supply Chain Incidents            int64
Society & Community Incidents            int64
dtype: object

In [30]:
business_controversy_df.dtypes

TICKER                   object
Animal Testing            int64
Catholic Values           int64
Controversial Weapons     int64
Military Contracting      int64
None                      int64
Nuclear                   int64
Small Arms                int64
Thermal Coal              int64
dtype: object

In [31]:
controversy_type_df.isnull().sum()

TICKER                                  0
Business Ethics Incidents               0
Customer Incidents                      0
Employee Incidents                      0
Environmental Supply Chain Incidents    0
Governance Incidents                    0
None                                    0
Operations Incidents                    0
Product & Service Incidents             0
Public Policy Incidents                 0
Social Supply Chain Incidents           0
Society & Community Incidents           0
dtype: int64

In [32]:
business_controversy_df.isnull().sum()

TICKER                   0
Animal Testing           0
Catholic Values          0
Controversial Weapons    0
Military Contracting     0
None                     0
Nuclear                  0
Small Arms               0
Thermal Coal             0
dtype: int64

In [28]:
# Save full_esg
file_to_save = os.path.join("Resources", "esg_details.csv")
esg_data.to_csv(file_to_save, index = False)

# Save full_info
file_to_save = os.path.join("Resources", "stocks_details.csv")
info_df.to_csv(file_to_save, index = False)

# Save stocks historical data
file_to_save = os.path.join("Resources", "stocks_historical_data.csv")
stock_historical_df.to_csv(file_to_save, index = False)

# Save business controversy in esg data
file_to_save = os.path.join("Resources", "business_controversy_esg.csv")
business_controversy_df.to_csv(file_to_save, index = False)

# Save related controversy in esg data
file_to_save = os.path.join("Resources", "controversy_type_esg.csv")
controversy_type_df.to_csv(file_to_save, index = False)

In [33]:
stock_historical_df.dtypes

TICKER               object
Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
dtype: object