In [92]:
#ignore warning
import warnings
warnings.filterwarnings('ignore')

In [125]:
# import yfinance, pandas and os
import yfinance as yf
import pandas as pd
import datetime
import os
import yesg

In [5]:
# saving the final_info df to csv
file_to_load = os.path.join("Resources", "Just_100_company_List.csv")
stocks_df = pd.read_csv(file_to_load)

In [8]:
Symbols = stocks_df['Symbol'].to_list()

In [14]:
def create_esg_data(Symbols):
    # create empty dataframe
    esg_data = pd.DataFrame()
    
    for i in Symbols:
        # print(i)
        i_y = yf.Ticker(i)
        try:
            if i_y.sustainability is not None:
                temp = pd.DataFrame.transpose(i_y.sustainability)
                temp['ticker'] = str(i_y.ticker)
                # print(temp)
                esg_data = esg_data.append(temp)
        except IndexError:
            pass
    esg_data.drop(['socialPercentile','environmentPercentile', 'governancePercentile'], axis = 1, inplace = True)
    esg_data.fillna('Not Available', inplace = True)
    esg_data.insert(0, "TICKER", esg_data.pop('ticker'))
    return esg_data

In [15]:
esg_data = create_esg_data(Symbols)

In [17]:
print(esg_data.shape)
esg_data.isnull().sum()

(89, 25)

TICKER                  0
palmOil                 0
controversialWeapons    0
gambling                0
socialScore             0
nuclear                 0
furLeather              0
alcoholic               0
gmo                     0
catholic                0
peerCount               0
governanceScore         0
animalTesting           0
tobacco                 0
totalEsg                0
highestControversy      0
esgPerformance          0
coal                    0
pesticides              0
adult                   0
percentile              0
peerGroup               0
smallArms               0
environmentScore        0
militaryContract        0
dtype: int64

In [23]:
esg_data.dtypes

TICKER                   object
palmOil                    bool
controversialWeapons       bool
gambling                   bool
socialScore             float64
nuclear                    bool
furLeather                 bool
alcoholic                  bool
gmo                        bool
catholic                   bool
peerCount                 int64
governanceScore         float64
animalTesting              bool
tobacco                    bool
totalEsg                float64
highestControversy        int64
esgPerformance           object
coal                       bool
pesticides                 bool
adult                      bool
percentile              float64
peerGroup                object
smallArms                  bool
environmentScore        float64
militaryContract           bool
dtype: object

In [25]:
Symbols= esg_data['TICKER'].to_list()
len(Symbols)

89

In [77]:
# Created a function to extract stocks description from yahoo finance
def create_info_list(Symbols):
    # create empty list
    info = []
    # iterate over each symbol
    for i in Symbols:  
        try:
            # download stock info
            temp = []
            temp = yf.Ticker(i).info
            
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                info.append(temp)
                print(f'{i}: info appended')
                
        except Exception:
            None
   
    return info

In [112]:
def create_info(Symbols):
    info_df = pd.DataFrame()
    info = create_info_list(Symbols)
    print(len(info))
    print(len(Symbols))
    if len(info) == 0:
        None
    else:
        info_df = info_df.append(info,sort=False, ignore_index=True)
    
    info_df = info_df[['symbol','longName', 'sector','industry', 'city', 'state','country','fullTimeEmployees',
                       'revenueGrowth', 'forwardEps', 'beta' , 'priceToSalesTrailing12Months' , 'forwardPE', 
                       'dividendRate', 'trailingPE', 'bookValue', 'returnOnAssets', 'returnOnEquity','averageVolume', 'volume','currentPrice',
                       'fiftyTwoWeekLow','fiftyTwoWeekHigh', 'regularMarketPrice', 'marketCap']]
    info_df.rename(columns = {'symbol':'TICKER'}, inplace = True)
    info_df.fillna(0, inplace = True)
    
    return info_df

In [116]:
info_df = create_info(Symbols)
print(len(info_df))
info_df

INTC: info appended
MSFT: info appended
CRM: info appended
BAC: info appended
PYPL: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
ADBE: info appended
V: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
HPQ: info appended
JPM: info appended
WDAY: info appended
GM: info appended
AEP: info appended
ILMN: info appended
UNH: info appended
CI: info appended
LNG: info appended
BIIB: info appended
AMAT: info appended
DAL: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
AKAM: info appended
EIX: info appended
JNJ: info appended
BSX: info appended
PEG: info appended
KEYS: info appended
SYF: info appended
VMW: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
MET: info appended
ETR: info appended
QCOM: info appended
NOW: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
JLL: info appended
DIS: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
EW: info appended
NLSN: info appended
EBAY: info appended
XOM: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended
PANW: info appended
89
89
89

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,...,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,INTC,Intel Corporation,Technology,Semiconductors,Santa Clara,CA,United States,121100.0,0.028,3.72,...,23.438,0.08586,0.22522,39084300,36396819,48.27,43.63,68.49,48.27,1.965554e+11
1,MSFT,Microsoft Corporation,Technology,Software—Infrastructure,Redmond,WA,United States,181000.0,0.201,10.75,...,21.335,0.15249,0.49051,37818100,25667615,299.49,231.10,349.67,299.49,2.245237e+12
2,CRM,"salesforce.com, inc.",Technology,Software—Application,San Francisco,CA,United States,73541.0,0.259,5.77,...,58.778,0.00466,0.02899,7395290,8396472,211.11,184.44,311.75,211.11,2.089989e+11
3,BAC,Bank of America Corporation,Financial Services,Banks—Diversified,Charlotte,NC,United States,208000.0,0.125,3.84,...,30.374,0.01068,0.11778,55220451,44508890,43.09,36.51,50.11,43.09,3.475148e+11
4,PYPL,"PayPal Holdings, Inc.",Financial Services,Credit Services,San Jose,CA,United States,30900.0,0.131,5.82,...,18.602,0.03690,0.19952,22186195,14408151,114.65,92.25,310.16,114.65,1.335672e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,COF,Capital One Financial Corporation,Financial Services,Credit Services,McLean,VA,United States,50767.0,0.094,19.00,...,135.757,0.02903,0.20447,3011793,1952746,133.99,121.44,177.95,133.99,5.435573e+10
85,BBY,"Best Buy Co., Inc.",Consumer Cyclical,Specialty Retail,Richfield,MN,United States,57750.0,-0.034,10.58,...,13.281,0.10288,0.64519,3257321,1712013,96.59,85.58,141.97,96.59,2.175477e+10
86,KMB,Kimberly-Clark Corporation,Consumer Defensive,Household & Personal Products,Dallas,TX,United States,45000.0,0.027,7.05,...,1.526,0.10050,2.29639,1994015,1877043,120.61,117.32,145.79,120.61,4.063689e+10
87,EMN,Eastman Chemical Company,Basic Materials,Chemicals,Kingsport,TN,United States,14000.0,0.232,10.57,...,44.245,0.07385,0.14576,1281210,1284352,109.36,98.24,130.47,109.36,1.410394e+10
88,PANW,"Palo Alto Networks, Inc.",Technology,Software—Infrastructure,Santa Clara,CA,United States,11527.0,0.295,9.05,...,1.196,-0.01854,-0.79906,1734780,1964938,604.04,311.72,619.74,604.04,5.948851e+10

In [118]:
 info_df.dtypes

TICKER                           object
longName                         object
sector                           object
industry                         object
city                             object
state                            object
country                          object
fullTimeEmployees               float64
revenueGrowth                   float64
forwardEps                      float64
beta                            float64
priceToSalesTrailing12Months    float64
forwardPE                       float64
dividendRate                    float64
trailingPE                      float64
bookValue                       float64
returnOnAssets                  float64
returnOnEquity                  float64
averageVolume                     int64
volume                            int64
currentPrice                    float64
fiftyTwoWeekLow                 float64
fiftyTwoWeekHigh                float64
regularMarketPrice              float64
marketCap                       float64
dtype: object

In [236]:
# function to get the time based data from yahoo finance and storing it in a Dataframe
def create_date_based_dataframes(Symbols,start, end):
    # create empty dataframe
    stocks_df = pd.DataFrame()
    # iterate over each symbol
    for i in Symbols:  

        # print the symbol which is being downloaded
        print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  

        try:
            # download the stock price 
            stock = []
            stock = yf.download(i,start=start, end=end, progress=False)

            # append the individual stock prices 
            if len(stock) == 0:
                None
            else:
                stock['TICKER']=i
                stocks_df = stocks_df.append(stock,sort=False)
                print(f'{i}: data appended')
                
        except Exception:
            None
    stocks_df.dropna(inplace =True)
    stocks_df = stocks_df.rename_axis('Date').reset_index()
    stocks_df.insert(0, "TICKER", stocks_df.pop('TICKER'))
    return stocks_df

In [237]:
# Time series data start and end date YYYY,MM,DD
start = 2018,3,16
end = 2022,3,16
start = datetime.datetime(start)
end = datetime.datetime(end)
stock_historical_df = create_date_based_dataframes(Symbols,start, end)
print(len(stock_historical_df['TICKER'].value_counts()))
stock_historical_df

0 : INTC,INTC: data appended
1 : MSFT,MSFT: data appended
2 : CRM,CRM: data appended
3 : BAC,BAC: data appended
4 : PYPL,PYPL: data appended
5 : AAPL,AAPL: data appended
6 : NVDA,NVDA: data appended
7 : VZ,VZ: data appended
8 : CSCO,CSCO: data appended
9 : EXC,EXC: data appended
10 : PEP,PEP: data appended
11 : MA,MA: data appended
12 : HIG,HIG: data appended
13 : C,C: data appended
14 : ANTM,ANTM: data appended
15 : ACN,ACN: data appended
16 : T,T: data appended
17 : IBM,IBM: data appended
18 : F,F: data appended
19 : ADBE,ADBE: data appended
20 : V,V: data appended
21 : OC,OC: data appended
22 : INTU,INTU: data appended
23 : WFC,WFC: data appended
24 : MRK,MRK: data appended
25 : HPQ,HPQ: data appended
26 : JPM,JPM: data appended
27 : WDAY,WDAY: data appended
28 : GM,GM: data appended
29 : AEP,AEP: data appended
30 : ILMN,ILMN: data appended
31 : UNH,UNH: data appended
32 : CI,CI: data appended
33 : LNG,LNG: data appended
34 : BIIB,BIIB: data appended
35 : AMAT,AMAT: data appended
36 : DAL,DAL: data appended
37 : CL,CL: data appended
38 : EQIX,EQIX: data appended
39 : UPS,UPS: data appended
40 : NEM,NEM: data appended
41 : LMT,LMT: data appended
42 : BLK,BLK: data appended
43 : AKAM,AKAM: data appended
44 : EIX,EIX: data appended
45 : JNJ,JNJ: data appended
46 : BSX,BSX: data appended
47 : PEG,PEG: data appended
48 : KEYS,KEYS: data appended
49 : SYF,SYF: data appended
50 : VMW,VMW: data appended
51 : FDX,FDX: data appended
52 : GS,GS: data appended
53 : NOC,NOC: data appended
54 : PG,PG: data appended
55 : ADM,ADM: data appended
56 : MET,MET: data appended
57 : ETR,ETR: data appended
58 : QCOM,QCOM: data appended
59 : NOW,NOW: data appended
60 : GIS,GIS: data appended
61 : DE,DE: data appended
62 : RF,RF: data appended
63 : LOW,LOW: data appended
64 : JLL,JLL: data appended
65 : DIS,DIS: data appended
66 : AMGN,AMGN: data appended
67 : ABT,ABT: data appended
68 : HPE,HPE: data appended
69 : BDX,BDX: data appended
70 : CLX,CLX: data appended
71 : AES,AES: data appended
72 : SPGI,SPGI: data appended
73 : ES,ES: data appended
74 : HSY,HSY: data appended
75 : AXP,AXP: data appended
76 : EW,EW: data appended
77 : NLSN,NLSN: data appended
78 : EBAY,EBAY: data appended
79 : XOM,XOM: data appended
80 : ECL,ECL: data appended
81 : NDAQ,NDAQ: data appended
82 : DLR,DLR: data appended
83 : TT,TT: data appended
84 : COF,COF: data appended
85 : BBY,BBY: data appended
86 : KMB,KMB: data appended
87 : EMN,EMN: data appended
88 : PANW,PANW: data appended
89

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,46.279915,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,45.972408,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,46.623596,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,46.632648,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,45.972408,30916000.0
...,...,...,...,...,...,...,...,...
89618,PANW,2022-03-09,538.700012,561.549988,537.010010,554.909973,554.909973,1731600.0
89619,PANW,2022-03-10,549.650024,559.950012,543.739990,551.849976,551.849976,1074700.0
89620,PANW,2022-03-11,559.219971,559.219971,545.049988,546.030029,546.030029,1175600.0
89621,PANW,2022-03-14,538.380005,545.229980,515.549988,525.309998,525.309998,1603900.0
89622,PANW,2022-03-15,529.330017,541.969971,509.119995,540.059998,540.059998,1269500.0

In [238]:
stock_historical_df.isnull().sum()

TICKER       0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [239]:
stock_historical_df

,TICKER,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,46.279915,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,45.972408,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,46.623596,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,46.632648,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,45.972408,30916000.0
...,...,...,...,...,...,...,...,...
89618,PANW,2022-03-09,538.700012,561.549988,537.010010,554.909973,554.909973,1731600.0
89619,PANW,2022-03-10,549.650024,559.950012,543.739990,551.849976,551.849976,1074700.0
89620,PANW,2022-03-11,559.219971,559.219971,545.049988,546.030029,546.030029,1175600.0
89621,PANW,2022-03-14,538.380005,545.229980,515.549988,525.309998,525.309998,1603900.0
89622,PANW,2022-03-15,529.330017,541.969971,509.119995,540.059998,540.059998,1269500.0

In [222]:
def create_esg_scores(Symbols):
    esg_scores = pd.DataFrame()
    
    for i in Symbols:
        try:
            temp =pd.DataFrame(yesg.get_esg_short(i))
            
            # append the individual stock info
            if len(temp) == 0:
                None
            else:
                esg_scores = esg_scores.append(temp, ignore_index = True) 
                print(f'{i}: info appended')
        
        except Exception:
            None
    esg_scores.rename(columns = {'Ticker':'TICKER'}, inplace = True)       
    esg_scores['Total-Score'] = pd.to_numeric(esg_scores['Total-Score'])
    esg_scores['E-Score'] = pd.to_numeric(esg_scores['E-Score'])
    esg_scores['S-Score'] = pd.to_numeric(esg_scores['S-Score'])
    esg_scores['G-Score'] = pd.to_numeric(esg_scores['G-Score'])
    esg_scores['Last Rated']= pd.to_datetime(esg_scores['Last Rated'])
    
    return esg_scores

In [223]:
esg_scores = create_esg_scores(Symbols)

INTC: info appended
MSFT: info appended
CRM: info appended
BAC: info appended
PYPL: info appended
AAPL: info appended
NVDA: info appended
VZ: info appended
CSCO: info appended
EXC: info appended
PEP: info appended
MA: info appended
HIG: info appended
C: info appended
ANTM: info appended
ACN: info appended
T: info appended
IBM: info appended
F: info appended
ADBE: info appended
V: info appended
OC: info appended
INTU: info appended
WFC: info appended
MRK: info appended
HPQ: info appended
JPM: info appended
WDAY: info appended
GM: info appended
AEP: info appended
ILMN: info appended
UNH: info appended
CI: info appended
LNG: info appended
BIIB: info appended
AMAT: info appended
DAL: info appended
CL: info appended
EQIX: info appended
UPS: info appended
NEM: info appended
LMT: info appended
BLK: info appended
AKAM: info appended
EIX: info appended
JNJ: info appended
BSX: info appended
PEG: info appended
KEYS: info appended
SYF: info appended
VMW: info appended
FDX: info appended
GS: info appended
NOC: info appended
PG: info appended
ADM: info appended
MET: info appended
ETR: info appended
QCOM: info appended
NOW: info appended
GIS: info appended
DE: info appended
RF: info appended
LOW: info appended
JLL: info appended
DIS: info appended
AMGN: info appended
ABT: info appended
HPE: info appended
BDX: info appended
CLX: info appended
AES: info appended
SPGI: info appended
ES: info appended
HSY: info appended
AXP: info appended
EW: info appended
NLSN: info appended
EBAY: info appended
XOM: info appended
ECL: info appended
NDAQ: info appended
DLR: info appended
TT: info appended
COF: info appended
BBY: info appended
KMB: info appended
EMN: info appended
PANW: info appended

In [224]:
esg_scores

   TICKER  Total-Score  E-Score  S-Score  G-Score Last Rated
0    INTC         16.9      4.4      5.6      6.9 2022-02-01
1    MSFT         13.3      0.5      8.1      4.7 2022-02-01
2     CRM         13.3      2.3      6.5      4.4 2022-02-01
3     BAC         27.3      1.6     14.4     11.3 2022-02-01
4    PYPL         16.4      0.7      9.9      5.8 2022-02-01
..    ...          ...      ...      ...      ...        ...
84    COF         23.2      0.1     13.5      9.7 2022-02-01
85    BBY         14.3      2.2      7.3      4.8 2022-02-01
86    KMB         22.2      8.1      7.8      6.4 2022-02-01
87    EMN         24.8     11.5      5.5      7.8 2022-02-01
88   PANW         14.2      0.8      7.6      5.8 2022-02-01

[89 rows x 6 columns]

In [208]:
esg_scores[esg_scores['Ticker']== 'ETR']

   Ticker  Total-Score  E-Score  S-Score  G-Score Last Rated
57    ETR         30.3     16.2      7.4      6.6 2022-02-01

In [196]:
info_df.shape

(89, 25)

In [217]:
# info_df.loc[info_df['TICKER'] == 'ETR', 'industry'] = 'Electric Utilities'
info_df[info_df['TICKER'] == 'ETR']

,TICKER,longName,sector,industry,city,state,country,fullTimeEmployees,revenueGrowth,forwardEps,...,bookValue,returnOnAssets,returnOnEquity,averageVolume,volume,currentPrice,fiftyTwoWeekLow,fiftyTwoWeekHigh,regularMarketPrice,marketCap
57,ETR,Entergy Corporation,0,Electric Utilities,0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1257296,796699,0.0,96.8,115.02,110.85,2.227874e+10

In [218]:
info_df['industry'].value_counts()

Credit Services                        6
Software—Infrastructure                5
Household & Personal Products          4
Software—Application                   4
Banks—Diversified                      4
Drug Manufacturers—General             4
Medical Devices                        3
Utilities—Regulated Electric           3
Semiconductors                         3
Utilities—Diversified                  3
Healthcare Plans                       3
Information Technology Services        2
Auto Manufacturers                     2
Communication Equipment                2
Telecom Services                       2
Aerospace & Defense                    2
Integrated Freight & Logistics         2
Financial Data & Stock Exchanges       2
Home Improvement Retail                1
Real Estate Services                   1
Medical Instruments & Supplies         1
Entertainment                          1
Banks—Regional                         1
Oil & Gas Integrated                   1
Confectioners                          1
Consulting Services                    1
Internet Retail                        1
Packaged Foods                         1
Specialty Chemicals                    1
REIT—Office                            1
Specialty Industrial Machinery         1
Specialty Retail                       1
Farm & Heavy Construction Machinery    1
Gold                                   1
Electric Utilities                     1
Oil & Gas Midstream                    1
Consumer Electronics                   1
Beverages—Non-Alcoholic                1
Insurance—Diversified                  1
Building Products & Equipment          1
Computer Hardware                      1
Diagnostics & Research                 1
Semiconductor Equipment & Materials    1
Insurance—Life                         1
Airlines                               1
REIT—Specialty                         1
Asset Management                       1
Scientific & Technical Instruments     1
Capital Markets                        1
Farm Products                          1
Chemicals                              1
Name: industry, dtype: int64

In [227]:
stock_historical_df['TICKER']

Date
2018-03-16    INTC
2018-03-19    INTC
2018-03-20    INTC
2018-03-21    INTC
2018-03-22    INTC
              ...
2022-03-09    PANW
2022-03-10    PANW
2022-03-11    PANW
2022-03-14    PANW
2022-03-15    PANW
Name: TICKER, Length: 89623, dtype: object

In [240]:
# Save esg scores
file_to_save = os.path.join("Resources", "latest_esg_scores.csv")
esg_scores.to_csv(file_to_save, index = False)

# Save full_esg
file_to_save = os.path.join("Resources", "latest_esg_details.csv")
esg_data.to_csv(file_to_save, index = False)

# Save full_info
file_to_save = os.path.join("Resources", "latest_stocks_details.csv")
info_df.to_csv(file_to_save, index = False)

# Save stocks historical data
file_to_save = os.path.join("Resources", "latest_stocks_historical_data.csv")
stock_historical_df.to_csv(file_to_save, index = False)