In [1]:
#import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Loading csv files
info_file_to_load = os.path.join("Resources", "Stocks_info.csv")
esg_file_to_load = os.path.join("Resources", "Stocks_with_ESG.csv")
time_file_to_load = os.path.join("Resources", "Stocks_with_time.csv")
info_df = pd.read_csv(info_file_to_load)
esg_df = pd.read_csv(esg_file_to_load)
time_df = pd.read_csv(time_file_to_load)

In [4]:
# Check the size of dataframes
print(info_df.shape)
print(esg_df.shape)
print(time_df.shape)

(113, 32)
(113, 53)
(200871, 8)

In [24]:
# time_df unique stocks
print(time_df['TICKER'].nunique())

112

In [5]:
info_df

,TICKER,sector,fullTimeEmployees,longBusinessSummary,city,country,industry,ebitdaMargins,profitMargins,grossMargins,...,totalDebt,totalRevenue,quickRatio,longName,bookValue,averageVolume,volume,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,WDAY,Technology,15200.0,"Workday, Inc. provides enterprise cloud applic...",Pleasanton,United States,Software—Application,0.04423,0.00572,0.72210,...,2.102756e+09,5.138798e+09,0.964,"Workday, Inc.",18.068,2301680.0,2750282.0,307.81,243.60,5.844378e+10
1,PANW,Technology,11527.0,"Palo Alto Networks, Inc. provides cybersecurit...",Santa Clara,United States,Software—Infrastructure,-0.01371,-0.09501,0.69626,...,3.956300e+09,4.857500e+09,0.580,"Palo Alto Networks, Inc.",1.196,1686817.0,2167555.0,598.96,577.02,5.682747e+10
2,ABMD,Healthcare,1725.0,"Abiomed, Inc. engages in the research, develop...",Danvers,United States,Medical Devices,0.27996,0.13262,0.81779,...,1.116500e+07,1.003148e+09,5.979,"Abiomed, Inc.",31.482,383141.0,428022.0,379.30,304.33,1.385194e+10
3,ADBE,Technology,25988.0,Adobe Inc. operates as a diversified software ...,San Jose,United States,Software—Infrastructure,0.40405,0.30548,0.88185,...,4.673000e+09,1.578500e+10,1.107,Adobe Inc.,31.152,3682629.0,5838834.0,699.54,453.33,2.141309e+11
4,AMD,Technology,15500.0,"Advanced Micro Devices, Inc. operates as a sem...",Santa Clara,United States,Semiconductors,0.24674,0.19241,0.48248,...,7.320000e+08,1.643400e+10,1.490,"Advanced Micro Devices, Inc.",6.211,95086364.0,96400643.0,164.46,113.46,1.846403e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,WDC,Technology,65600.0,"Western Digital Corporation develops, manufact...",San Jose,United States,Computer Hardware,0.17766,0.10522,0.30727,...,7.691000e+09,1.894100e+10,1.070,Western Digital Corporation,36.531,4171232.0,4227365.0,78.19,49.30,1.536301e+10
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,XLNX,Technology,4890.0,"Xilinx, Inc. designs, develops, and markets pr...",San Jose,United States,Semiconductors,0.29583,0.23055,0.68313,...,1.543086e+09,3.468767e+09,6.230,"Xilinx, Inc.",13.701,4125781.0,0.0,239.79,194.92,4.831677e+10
111,ZBRA,Technology,8800.0,"Zebra Technologies Corporation, together with ...",Lincolnshire,United States,Communication Equipment,0.21635,0.15454,0.47129,...,1.140000e+09,5.468000e+09,0.628,Zebra Technologies Corporation,52.681,458062.0,930717.0,615.00,437.18,2.336356e+10
112,ZION,Financial Services,9641.0,"Zions Bancorporation, National Association pro...",Salt Lake City,United States,Banks—Regional,0.00000,0.36889,0.00000,...,1.867000e+09,3.253000e+09,NaN,"Zions Bancorporation, National Association",46.854,1537582.0,4132921.0,75.44,67.85,1.061601e+10

In [10]:
# remove stocks with no information from info_df
info_df.drop(info_df.index[109], inplace=True)
print(info_df.shape)
info_df

(112, 32)

,TICKER,sector,fullTimeEmployees,longBusinessSummary,city,country,industry,ebitdaMargins,profitMargins,grossMargins,...,totalDebt,totalRevenue,quickRatio,longName,bookValue,averageVolume,volume,fiftyTwoWeekHigh,regularMarketPrice,marketCap
0,WDAY,Technology,15200.0,"Workday, Inc. provides enterprise cloud applic...",Pleasanton,United States,Software—Application,0.04423,0.00572,0.72210,...,2.102756e+09,5.138798e+09,0.964,"Workday, Inc.",18.068,2301680.0,2750282.0,307.81,243.60,5.844378e+10
1,PANW,Technology,11527.0,"Palo Alto Networks, Inc. provides cybersecurit...",Santa Clara,United States,Software—Infrastructure,-0.01371,-0.09501,0.69626,...,3.956300e+09,4.857500e+09,0.580,"Palo Alto Networks, Inc.",1.196,1686817.0,2167555.0,598.96,577.02,5.682747e+10
2,ABMD,Healthcare,1725.0,"Abiomed, Inc. engages in the research, develop...",Danvers,United States,Medical Devices,0.27996,0.13262,0.81779,...,1.116500e+07,1.003148e+09,5.979,"Abiomed, Inc.",31.482,383141.0,428022.0,379.30,304.33,1.385194e+10
3,ADBE,Technology,25988.0,Adobe Inc. operates as a diversified software ...,San Jose,United States,Software—Infrastructure,0.40405,0.30548,0.88185,...,4.673000e+09,1.578500e+10,1.107,Adobe Inc.,31.152,3682629.0,5838834.0,699.54,453.33,2.141309e+11
4,AMD,Technology,15500.0,"Advanced Micro Devices, Inc. operates as a sem...",Santa Clara,United States,Semiconductors,0.24674,0.19241,0.48248,...,7.320000e+08,1.643400e+10,1.490,"Advanced Micro Devices, Inc.",6.211,95086364.0,96400643.0,164.46,113.46,1.846403e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,Healthcare,202000.0,"Walgreens Boots Alliance, Inc. operates as a p...",Deerfield,United States,Pharmaceutical Retailers,0.04185,0.04764,0.21495,...,3.922800e+10,1.349720e+11,0.417,"Walgreens Boots Alliance, Inc.",27.062,6350109.0,11369543.0,57.05,47.36,4.091643e+10
108,WDC,Technology,65600.0,"Western Digital Corporation develops, manufact...",San Jose,United States,Computer Hardware,0.17766,0.10522,0.30727,...,7.691000e+09,1.894100e+10,1.070,Western Digital Corporation,36.531,4171232.0,4227365.0,78.19,49.30,1.536301e+10
110,XLNX,Technology,4890.0,"Xilinx, Inc. designs, develops, and markets pr...",San Jose,United States,Semiconductors,0.29583,0.23055,0.68313,...,1.543086e+09,3.468767e+09,6.230,"Xilinx, Inc.",13.701,4125781.0,0.0,239.79,194.92,4.831677e+10
111,ZBRA,Technology,8800.0,"Zebra Technologies Corporation, together with ...",Lincolnshire,United States,Communication Equipment,0.21635,0.15454,0.47129,...,1.140000e+09,5.468000e+09,0.628,Zebra Technologies Corporation,52.681,458062.0,930717.0,615.00,437.18,2.336356e+10
112,ZION,Financial Services,9641.0,"Zions Bancorporation, National Association pro...",Salt Lake City,United States,Banks—Regional,0.00000,0.36889,0.00000,...,1.867000e+09,3.253000e+09,NaN,"Zions Bancorporation, National Association",46.854,1537582.0,4132921.0,75.44,67.85,1.061601e+10

In [11]:
# remove the same stock from esg_df
esg_df.drop(esg_df.index[109], inplace=True)
print(esg_df.shape)
esg_df

(112, 53)

,TICKER,Society_N,Society_P,Jobs_N,Jobs_P,Taxes_N,Taxes_P,Societal_Infrastructure_N,Societal_Infrastructure_P,Societal_Stability_N,...,Biodiversity_N,Biodiversity_P,Waste_N,Waste_P,Millennials,Most Wanted Workforce,Society First,Knowledge First,Health First,Net Impact Ratio
0,WDAY,-0.01,3.79,0.0,1.11,0.0,2.28,0.0,0.03,-0.00,...,-0.02,0.0,-0.06,0.00,0.527,0.426,0.426,0.449,0.692,0.471
1,PANW,-0.07,4.33,0.0,0.84,0.0,1.85,0.0,0.12,-0.06,...,-0.01,0.0,-0.17,0.00,0.504,0.389,0.389,0.418,0.765,0.419
2,ABMD,-0.00,2.71,0.0,0.91,0.0,1.70,0.0,0.10,-0.00,...,-0.01,0.0,-0.43,0.00,0.678,0.551,0.551,0.312,0.506,0.654
3,ADBE,-0.06,3.40,0.0,0.91,0.0,2.29,0.0,0.12,-0.06,...,-0.01,0.0,-0.15,0.00,0.393,0.253,0.253,0.253,0.649,0.328
4,AMD,-0.05,1.97,0.0,0.68,0.0,1.07,0.0,0.08,-0.05,...,-0.03,0.0,-0.30,0.01,0.443,0.199,0.199,0.180,0.708,0.270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.02,2.00,0.0,0.78,0.0,0.96,0.0,0.22,-0.01,...,-0.04,0.0,-0.68,0.00,0.288,-0.073,-0.073,-0.092,-0.029,0.135
108,WDC,-0.09,2.77,0.0,1.10,0.0,1.50,0.0,0.11,-0.08,...,-0.02,0.0,-0.29,0.00,0.404,0.216,0.216,0.180,0.681,0.274
110,XLNX,-0.07,2.51,0.0,0.80,0.0,1.54,0.0,0.11,-0.07,...,-0.02,0.0,-0.32,0.00,0.512,0.332,0.332,0.275,0.781,0.374
111,ZBRA,-0.11,2.92,0.0,0.88,0.0,1.45,0.0,0.54,-0.09,...,-0.01,0.0,-0.60,0.00,0.398,0.133,0.133,0.192,0.650,0.207
112,ZION,-0.06,2.56,0.0,0.77,0.0,0.83,0.0,0.87,-0.02,...,-0.03,0.0,-0.08,0.00,0.322,0.131,0.131,0.325,0.309,0.235

In [23]:
# Creating a list of tickers
tickers = esg_df['TICKER'].to_list()
print(len(tickers))

112

In [22]:
#Checking that all the Dataframes have the same number of stocks
print(time_df['TICKER'].nunique())
print(esg_df['TICKER'].nunique())
print(info_df['TICKER'].nunique())

112
112
112

In [27]:
# Saving the ESG parameters as a list
esg_parameters = esg_df.columns.to_list()
esg_parameters

['TICKER',
 'Society_N',
 'Society_P',
 'Jobs_N',
 'Jobs_P',
 'Taxes_N',
 'Taxes_P',
 'Societal_Infrastructure_N',
 'Societal_Infrastructure_P',
 'Societal_Stability_N',
 'Societal_Stability_P',
 'EQUALITY_HUMAN RIGHTS_N',
 'EQUALITY_HUMAN RIGHTS_P',
 'Knowledge_N',
 'Knowledge_P',
 'Knowledge_Infrastructure_N',
 'Knowledge_Infrastructure_P',
 'Creating_Knowledge_N',
 'Creating_Knowledge_P',
 'Distributing_Knowledge_N',
 'Distributing_Knowledge_P',
 'Scarce_Human_Capital_N',
 'Scarce_Human_Capital_P',
 'Health_N',
 'Health_P',
 'Physical Diseases_N',
 'Physical Diseases_P',
 'Mental Diseases_N',
 'Mental Diseases_P',
 'Nutrition_N',
 'Nutrition_P',
 'Relationships_N',
 'Relationships_P',
 'Meaning_Joy_N',
 'Meaning_Joy_P',
 'Environment_N',
 'Environment_P',
 'GHG_Emissions_N',
 'GHG_Emissions_P',
 'Non-GHG_Emissions_N',
 'Non-GHG_Emissions_P',
 'Scarce_Natural_resources_N',
 'Scarce_Natural_resources_P',
 'Biodiversity_N',
 'Biodiversity_P',
 'Waste_N',
 'Waste_P',
 'Millennials',
 'Most Wanted Workforce',
 'Society First',
 'Knowledge First',
 'Health First',
 'Net Impact Ratio']

In [31]:
# Creating Society dataframe
society_df = esg_df.iloc[:,0:13]
society_df

,TICKER,Society_N,Society_P,Jobs_N,Jobs_P,Taxes_N,Taxes_P,Societal_Infrastructure_N,Societal_Infrastructure_P,Societal_Stability_N,Societal_Stability_P,EQUALITY_HUMAN RIGHTS_N,EQUALITY_HUMAN RIGHTS_P
0,WDAY,-0.01,3.79,0.0,1.11,0.0,2.28,0.0,0.03,-0.00,0.36,-0.01,0.02
1,PANW,-0.07,4.33,0.0,0.84,0.0,1.85,0.0,0.12,-0.06,1.52,-0.00,0.01
2,ABMD,-0.00,2.71,0.0,0.91,0.0,1.70,0.0,0.10,-0.00,0.00,-0.00,0.01
3,ADBE,-0.06,3.40,0.0,0.91,0.0,2.29,0.0,0.12,-0.06,0.07,-0.00,0.01
4,AMD,-0.05,1.97,0.0,0.68,0.0,1.07,0.0,0.08,-0.05,0.12,-0.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.02,2.00,0.0,0.78,0.0,0.96,0.0,0.22,-0.01,0.02,-0.01,0.02
108,WDC,-0.09,2.77,0.0,1.10,0.0,1.50,0.0,0.11,-0.08,0.04,-0.00,0.01
110,XLNX,-0.07,2.51,0.0,0.80,0.0,1.54,0.0,0.11,-0.07,0.05,-0.00,0.02
111,ZBRA,-0.11,2.92,0.0,0.88,0.0,1.45,0.0,0.54,-0.09,0.03,-0.02,0.01
112,ZION,-0.06,2.56,0.0,0.77,0.0,0.83,0.0,0.87,-0.02,0.03,-0.04,0.06

In [34]:
# Creating Knowledge dataframe
knowledge_df = esg_df.iloc[:,13:23]
knowledge_df['TICKER'] = society_df['TICKER']
shiftPos = knowledge_df.pop("TICKER")
knowledge_df.insert(0, "TICKER", shiftPos)
knowledge_df

,TICKER,Knowledge_N,Knowledge_P,Knowledge_Infrastructure_N,Knowledge_Infrastructure_P,Creating_Knowledge_N,Creating_Knowledge_P,Distributing_Knowledge_N,Distributing_Knowledge_P,Scarce_Human_Capital_N,Scarce_Human_Capital_P
0,WDAY,-2.65,1.37,0.0,0.11,0.0,0.07,-0.00,1.19,-2.65,0.0
1,PANW,-3.89,3.16,0.0,2.49,0.0,0.56,-0.00,0.12,-3.89,0.0
2,ABMD,-1.19,0.03,0.0,0.00,0.0,0.02,-0.00,0.00,-1.19,0.0
3,ADBE,-3.69,1.83,0.0,1.30,0.0,0.23,-0.02,0.29,-3.67,0.0
4,AMD,-1.16,1.05,0.0,0.64,0.0,0.21,-0.00,0.20,-1.16,0.0
...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-1.06,0.04,0.0,0.01,0.0,0.03,-0.00,0.01,-1.05,0.0
108,WDC,-2.20,1.43,0.0,0.49,0.0,0.74,-0.00,0.19,-2.20,0.0
110,XLNX,-1.72,1.92,0.0,1.29,0.0,0.38,-0.00,0.25,-1.72,0.0
111,ZBRA,-1.45,1.10,0.0,0.39,0.0,0.07,-0.00,0.64,-1.45,0.0
112,ZION,-1.83,0.32,0.0,0.08,0.0,0.02,-0.00,0.21,-1.83,0.0

In [35]:
# Creating health dataframe
health_df = esg_df.iloc[:,23:35]
health_df['TICKER'] = society_df['TICKER']
shiftPos = health_df.pop("TICKER")
health_df.insert(0, "TICKER", shiftPos)
health_df

,TICKER,Health_N,Health_P,Physical Diseases_N,Physical Diseases_P,Mental Diseases_N,Mental Diseases_P,Nutrition_N,Nutrition_P,Relationships_N,Relationships_P,Meaning_Joy_N,Meaning_Joy_P
0,WDAY,-0.03,0.37,-0.01,0.02,-0.00,0.00,0.0,0.00,-0.02,0.04,-0.00,0.31
1,PANW,-0.10,0.61,-0.06,0.05,-0.02,0.01,0.0,0.00,-0.02,0.05,-0.00,0.51
2,ABMD,-0.37,3.58,-0.36,2.83,-0.00,0.37,0.0,0.00,-0.01,0.01,-0.00,0.37
3,ADBE,-0.20,1.43,-0.06,0.17,-0.02,0.03,0.0,0.00,-0.05,0.75,-0.07,0.49
4,AMD,-0.19,0.47,-0.12,0.16,-0.03,0.02,0.0,0.02,-0.03,0.16,-0.01,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-0.34,1.38,-0.28,0.76,-0.03,0.12,0.0,0.07,-0.02,0.01,-0.01,0.42
108,WDC,-0.16,0.39,-0.07,0.13,-0.02,0.03,0.0,0.00,-0.04,0.12,-0.02,0.10
110,XLNX,-0.21,0.48,-0.10,0.12,-0.04,0.03,0.0,0.00,-0.05,0.18,-0.03,0.14
111,ZBRA,-0.15,0.33,-0.12,0.08,-0.01,0.02,0.0,0.00,-0.02,0.10,-0.01,0.13
112,ZION,-0.10,0.27,-0.06,0.09,-0.01,0.02,0.0,0.01,-0.01,0.06,-0.01,0.09

In [36]:
# Creating environment dataframe
environment_df = esg_df.iloc[:,35:47]
environment_df['TICKER'] = society_df['TICKER']
shiftPos = environment_df.pop("TICKER")
environment_df.insert(0, "TICKER", shiftPos)
environment_df

,TICKER,Environment_N,Environment_P,GHG_Emissions_N,GHG_Emissions_P,Non-GHG_Emissions_N,Non-GHG_Emissions_P,Scarce_Natural_resources_N,Scarce_Natural_resources_P,Biodiversity_N,Biodiversity_P,Waste_N,Waste_P
0,WDAY,-0.24,0.01,-0.12,0.01,-0.03,0.00,-0.02,0.0,-0.02,0.0,-0.06,0.00
1,PANW,-0.67,0.02,-0.40,0.01,-0.06,0.01,-0.03,0.0,-0.01,0.0,-0.17,0.00
2,ABMD,-0.62,0.00,-0.18,0.00,-0.00,0.00,-0.00,0.0,-0.01,0.0,-0.43,0.00
3,ADBE,-0.54,0.02,-0.31,0.02,-0.04,0.01,-0.02,0.0,-0.01,0.0,-0.15,0.00
4,AMD,-1.19,0.07,-0.67,0.04,-0.16,0.02,-0.03,0.0,-0.03,0.0,-0.30,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,WBA,-1.57,0.03,-0.62,0.02,-0.17,0.00,-0.07,0.0,-0.04,0.0,-0.68,0.00
108,WDC,-0.91,0.04,-0.49,0.03,-0.07,0.01,-0.05,0.0,-0.02,0.0,-0.29,0.00
110,XLNX,-1.10,0.05,-0.63,0.03,-0.10,0.01,-0.03,0.0,-0.02,0.0,-0.32,0.00
111,ZBRA,-1.76,0.02,-1.00,0.01,-0.07,0.00,-0.07,0.0,-0.01,0.0,-0.60,0.00
112,ZION,-0.44,0.03,-0.25,0.02,-0.06,0.00,-0.02,0.0,-0.03,0.0,-0.08,0.00

In [38]:
# Creating net_impact dataframe
net_impact_df = esg_df.iloc[:,47:]
net_impact_df['TICKER'] = society_df['TICKER']
shiftPos =net_impact_df.pop("TICKER")
net_impact_df.insert(0, "TICKER", shiftPos)
net_impact_df

,TICKER,Millennials,Most Wanted Workforce,Society First,Knowledge First,Health First,Net Impact Ratio
0,WDAY,0.527,0.426,0.426,0.449,0.692,0.471
1,PANW,0.504,0.389,0.389,0.418,0.765,0.419
2,ABMD,0.678,0.551,0.551,0.312,0.506,0.654
3,ADBE,0.393,0.253,0.253,0.253,0.649,0.328
4,AMD,0.443,0.199,0.199,0.180,0.708,0.270
...,...,...,...,...,...,...,...
107,WBA,0.288,-0.073,-0.073,-0.092,-0.029,0.135
108,WDC,0.404,0.216,0.216,0.180,0.681,0.274
110,XLNX,0.512,0.332,0.332,0.275,0.781,0.374
111,ZBRA,0.398,0.133,0.133,0.192,0.650,0.207
112,ZION,0.322,0.131,0.131,0.325,0.309,0.235

In [39]:
#Find out the parameters in info_df
info_params = info_df.columns.to_list()
info_params

['TICKER',
 'sector',
 'fullTimeEmployees',
 'longBusinessSummary',
 'city',
 'country',
 'industry',
 'ebitdaMargins',
 'profitMargins',
 'grossMargins',
 'operatingCashflow',
 'revenueGrowth',
 'operatingMargins',
 'ebitda',
 'grossProfits',
 'currentPrice',
 'earningsGrowth',
 'currentRatio',
 'returnOnAssets',
 'debtToEquity',
 'returnOnEquity',
 'totalCash',
 'totalDebt',
 'totalRevenue',
 'quickRatio',
 'longName',
 'bookValue',
 'averageVolume',
 'volume',
 'fiftyTwoWeekHigh',
 'regularMarketPrice',
 'marketCap']

In [40]:
# Checking that datatypes are correct for the dataframes
info_df.dtypes

TICKER                  object
sector                  object
fullTimeEmployees      float64
longBusinessSummary     object
city                    object
country                 object
industry                object
ebitdaMargins          float64
profitMargins          float64
grossMargins           float64
operatingCashflow      float64
revenueGrowth          float64
operatingMargins       float64
ebitda                 float64
grossProfits           float64
currentPrice           float64
earningsGrowth         float64
currentRatio           float64
returnOnAssets         float64
debtToEquity           float64
returnOnEquity         float64
totalCash              float64
totalDebt              float64
totalRevenue           float64
quickRatio             float64
longName                object
bookValue              float64
averageVolume          float64
volume                 float64
fiftyTwoWeekHigh       float64
regularMarketPrice     float64
marketCap              float64
dtype: object

In [41]:
# Saving csv files as an input to postgres
info_file_to_save = os.path.join("Resources/Postgres_Input", "Stocks_info.csv")
esg_file_to_save = os.path.join("Resources/Postgres_Input", "Stocks_ESG.csv")
time_file_to_save = os.path.join("Resources/Postgres_Input", "Stocks_time.csv")
society_file_to_save = os.path.join("Resources/Postgres_Input", "society_ESG.csv")
health_file_to_save = os.path.join("Resources/Postgres_Input", "health_ESG.csv")
knowledge_file_to_save = os.path.join("Resources/Postgres_Input", "knowledge_ESG.csv")
environment_file_to_save = os.path.join("Resources/Postgres_Input", "environment_ESG.csv")
net_impact_file_to_save = os.path.join("Resources/Postgres_Input", "net_impact_ESG.csv")

info_df.to_csv(info_file_to_save, index =False)
esg_df.to_csv(esg_file_to_save, index =False)
time_df.to_csv(time_file_to_save, index =False)
society_df.to_csv(society_file_to_save, index =False)
health_df.to_csv(health_file_to_save, index =False)
knowledge_df.to_csv(knowledge_file_to_save, index =False)
environment_df.to_csv(environment_file_to_save, index =False)
net_impact_df.to_csv(net_impact_file_to_save, index =False)

In [47]:
# Checking the length of longbusinessSummary column to feed in postgres
len(info_df['longBusinessSummary'][0])

1792