import pandas as pd
import plotly.express as px
from copy import copy
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import plotly.figure_factory as ff
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from tensorflow import keras
import os

In [1]:
pip install kaleido

Requirement already satisfied: kaleido in c:\users\dell 17\anaconda3\envs\pythondata\lib\site-packages (0.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#ignore warning
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Connect to the AWS cloud database and download the data.
%run Connect_Database.ipynb

Enter database password········
('INTC', 17.0, 4.0, 6.0, 7.0, datetime.datetime(2022, 2, 1, 0, 0), 'LAG_PERF', 'Semiconductors', 3.0, 31, 14.57, 'Customer Incidents,Business Ethics Incidents', 11.6, 21.21967741935484, 32.93, 2.53, 8.044999999999998, 16.08, 2.62, 6.166333333333333, 9.51, 4.79, 6.668666666666666, 9.67, 0.0, 1.1290322580645162, 4.0, 'None')

In [4]:
# Checking the company stocks
stocks_df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,INTC,2018-03-16,51.169998,51.700001,50.990002,51.169998,47.260136,42559800.0
1,INTC,2018-03-19,50.740002,51.230000,49.930000,50.830002,46.946121,31115200.0
2,INTC,2018-03-20,50.880001,51.810001,50.849998,51.549999,47.611103,22215000.0
3,INTC,2018-03-21,51.549999,52.169998,51.169998,51.560001,47.620346,23239500.0
4,INTC,2018-03-22,50.740002,51.959999,50.599998,50.830002,46.946121,30916000.0
...,...,...,...,...,...,...,...,...
64443,EMN,2022-03-09,107.809998,109.629997,107.349998,108.709999,107.926285,2445400.0
64444,EMN,2022-03-10,107.580002,107.889999,105.760002,106.889999,106.119400,1750700.0
64445,EMN,2022-03-11,107.440002,107.660004,105.389999,105.419998,104.660004,1610800.0
64446,EMN,2022-03-14,105.839996,107.209999,104.370003,106.080002,106.080002,1504800.0
64447,EMN,2022-03-15,106.709999,107.199997,104.540001,106.000000,106.000000,1208900.0

In [5]:
# Got the closing price for all stocks
def create_df(df, index, column, value):
    stocks_df = df.copy()
    stocks_df = stocks_df.pivot(index=index, columns=column, values=value)
    stocks_df = stocks_df.reset_index()
    stocks_df['Date'] = pd.to_datetime(stocks_df['Date'])
    stocks_df = stocks_df.sort_values(by = ['Date'])
    return stocks_df

In [6]:
# Get price of stocks, sorted by date
stock_price_df = create_df(stocks_df, 'Date', 'Ticker', 'Close')
stock_price_df

Ticker,Date,AAPL,ABT,ACN,ADM,AEP,AES,AMAT,AMGN,ANTM,...,PG,QCOM,RF,SPGI,SYF,T,UNH,UPS,VZ,WFC
0,2018-03-16,44.505001,63.180000,160.889999,43.500000,67.809998,10.840000,59.439999,188.240005,228.110001,...,78.970001,60.619999,19.629999,192.509995,35.200001,37.000000,227.860001,110.910004,48.560001,55.900002
1,2018-03-19,43.825001,62.259998,160.619995,43.060001,67.449997,10.770000,58.500000,182.550003,227.990005,...,78.660004,58.369999,19.549999,190.449997,35.259998,36.580002,225.050003,108.459999,48.310001,55.480000
2,2018-03-20,43.810001,62.650002,162.880005,42.970001,67.449997,10.710000,59.230000,182.029999,229.979996,...,78.309998,58.259998,19.459999,195.649994,35.400002,36.340000,226.779999,108.029999,47.689999,54.900002
3,2018-03-21,42.817501,62.419998,162.029999,42.619999,66.910004,10.800000,60.779999,181.589996,225.990005,...,77.040001,56.810001,19.530001,193.809998,35.299999,36.000000,222.820007,107.650002,47.279999,54.790001
4,2018-03-22,42.212502,60.930000,150.229996,41.939999,67.360001,10.820000,58.959999,176.080002,218.850006,...,76.410004,55.580002,18.620001,189.080002,33.730000,35.369999,215.210007,104.449997,46.880001,52.529999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,2022-03-09,162.949997,118.389999,309.420013,81.779999,95.010002,21.959999,128.619995,231.460007,465.369995,...,148.770004,157.110001,22.450001,391.510010,36.200001,23.260000,485.570007,206.779999,53.080002,49.160000
1003,2022-03-10,158.520004,117.000000,309.519989,84.309998,95.989998,22.350000,124.970001,226.949997,473.200012,...,144.940002,154.710007,22.000000,382.750000,35.430000,23.190001,491.440002,207.179993,53.230000,49.009998
1004,2022-03-11,154.729996,114.019997,311.579987,83.599998,95.540001,22.200001,123.639999,228.850006,465.260010,...,143.220001,152.339996,21.910000,379.679993,35.040001,23.190001,482.869995,203.899994,53.040001,48.470001
1005,2022-03-14,150.619995,115.519997,307.679993,82.570000,94.739998,21.719999,120.129997,229.210007,458.329987,...,145.050003,141.289993,22.719999,377.000000,35.480000,22.889999,487.920013,204.300003,52.500000,49.860001
1006,2022-03-15,155.089996,117.480003,316.230011,82.809998,96.110001,22.340000,124.410004,231.559998,467.690002,...,150.270004,144.210007,22.790001,387.390015,36.139999,23.090000,497.910004,210.529999,52.759998,50.110001

In [7]:
# Get volume of stocks, sorted by date
stock_vol_df = create_df(stocks_df, 'Date', 'Ticker', 'Volume')
stock_vol_df

Ticker,Date,AAPL,ABT,ACN,ADM,AEP,AES,AMAT,AMGN,ANTM,...,PG,QCOM,RF,SPGI,SYF,T,UNH,UPS,VZ,WFC
0,2018-03-16,157618800.0,11840900.0,4018600.0,10091100.0,6399400.0,7325800.0,15070200.0,16878400.0,1834700.0,...,17715400.0,25574500.0,22955400.0,1836600.0,13767800.0,37103000.0,5690300.0,5679200.0,26838100.0,37095000.0
1,2018-03-19,133787200.0,5286200.0,1890000.0,4270500.0,2595600.0,5646600.0,13747300.0,3970400.0,1088800.0,...,8368200.0,14131400.0,10701000.0,1160400.0,7071400.0,19637900.0,3407300.0,3351200.0,12980800.0,17982200.0
2,2018-03-20,78597600.0,3943000.0,2249400.0,2133700.0,2496400.0,6359700.0,8527300.0,2582200.0,1326100.0,...,8465500.0,10615400.0,10213200.0,1289500.0,4799800.0,20167100.0,3429100.0,2513000.0,10765500.0,26874600.0
3,2018-03-21,148219600.0,3478300.0,3452600.0,3078300.0,2805300.0,5687900.0,17171400.0,2531100.0,1316300.0,...,9822800.0,12231900.0,6715800.0,1471800.0,4325100.0,17437200.0,3419800.0,2805100.0,11062500.0,18997300.0
4,2018-03-22,165963200.0,5345300.0,8203600.0,2645500.0,3137500.0,7888900.0,14876400.0,3553000.0,1571900.0,...,10481600.0,13554600.0,12313200.0,1293200.0,5728000.0,28196900.0,5894800.0,4150000.0,14270800.0,32656300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,2022-03-09,91454900.0,5004700.0,2825900.0,5769900.0,3006200.0,6540500.0,7623200.0,2640900.0,1168300.0,...,7044100.0,9276800.0,10750000.0,3034100.0,7234900.0,43814900.0,3115500.0,3097600.0,23049800.0,34560200.0
1003,2022-03-10,105342000.0,4377600.0,2049000.0,3395900.0,2897900.0,3953100.0,5604400.0,3957200.0,1243000.0,...,9221000.0,8888800.0,8808200.0,2767300.0,7169200.0,40500800.0,2834800.0,2284100.0,17501800.0,26178800.0
1004,2022-03-11,96836300.0,8012400.0,3811900.0,3016900.0,2254900.0,4679500.0,6013200.0,2667000.0,1074500.0,...,7085800.0,7392100.0,8355500.0,2252100.0,5767400.0,54451800.0,2615000.0,2006200.0,20834600.0,23695900.0
1005,2022-03-14,108732100.0,5527500.0,3156600.0,3647200.0,2948400.0,5516900.0,6733200.0,2902700.0,1427800.0,...,7964600.0,16154200.0,10280300.0,2558100.0,7635800.0,49609800.0,2704100.0,2237200.0,23124100.0,28166600.0
1006,2022-03-15,92964300.0,5041200.0,2695200.0,3693000.0,3673700.0,4247700.0,6875300.0,3178200.0,1303900.0,...,9868400.0,13893000.0,10312400.0,1977200.0,6824800.0,35565900.0,3043000.0,2865400.0,20477600.0,25080600.0

In [8]:
# Check if Null values exist in stock prices data
stock_price_df.isnull().sum()

Ticker
Date    0
AAPL    0
ABT     0
ACN     0
ADM     0
       ..
T       0
UNH     0
UPS     0
VZ      0
WFC     0
Length: 65, dtype: int64

In [9]:
# Check if Null values exist in stocks volume data
stock_vol_df.isnull().sum()

Ticker
Date    0
AAPL    0
ABT     0
ACN     0
ADM     0
       ..
T       0
UNH     0
UPS     0
VZ      0
WFC     0
Length: 65, dtype: int64

In [10]:
# Get stock prices dataframe info
stock_price_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1007 entries, 0 to 1006
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1007 non-null   datetime64[ns]
 1   AAPL    1007 non-null   float64
 2   ABT     1007 non-null   float64
 3   ACN     1007 non-null   float64
 4   ADM     1007 non-null   float64
 5   AEP     1007 non-null   float64
 6   AES     1007 non-null   float64
 7   AMAT    1007 non-null   float64
 8   AMGN    1007 non-null   float64
 9   ANTM    1007 non-null   float64
 10  AXP     1007 non-null   float64
 11  BBY     1007 non-null   float64
 12  BDX     1007 non-null   float64
 13  BLK     1007 non-null   float64
 14  C       1007 non-null   float64
 15  CI      1007 non-null   float64
 16  CL      1007 non-null   float64
 17  CLX     1007 non-null   float64
 18  COF     1007 non-null   float64
 19  CSCO    1007 non-null   float64
 20  DE      1007 non-null   float64
 21  DLR     1007 non-null   float64
 22  EBAY    1007 non-null   float64
 23  ECL     1007 non-null   float64
 24  EIX     1007 non-null   float64
 25  EMN     1007 non-null   float64
 26  EQIX    1007 non-null   float64
 27  ES      1007 non-null   float64
 28  ETR     1007 non-null   float64
 29  EXC     1007 non-null   float64
 30  F       1007 non-null   float64
 31  FDX     1007 non-null   float64
 32  GIS     1007 non-null   float64
 33  GS      1007 non-null   float64
 34  HIG     1007 non-null   float64
 35  HPE     1007 non-null   float64
 36  HSY     1007 non-null   float64
 37  IBM     1007 non-null   float64
 38  INTC    1007 non-null   float64
 39  INTU    1007 non-null   float64
 40  JNJ     1007 non-null   float64
 41  JPM     1007 non-null   float64
 42  KMB     1007 non-null   float64
 43  LMT     1007 non-null   float64
 44  LOW     1007 non-null   float64
 45  MA      1007 non-null   float64
 46  MRK     1007 non-null   float64
 47  MSFT    1007 non-null   float64
 48  NDAQ    1007 non-null   float64
 49  NEM     1007 non-null   float64
 50  NLSN    1007 non-null   float64
 51  NOC     1007 non-null   float64
 52  NVDA    1007 non-null   float64
 53  OC      1007 non-null   float64
 54  PEP     1007 non-null   float64
 55  PG      1007 non-null   float64
 56  QCOM    1007 non-null   float64
 57  RF      1007 non-null   float64
 58  SPGI    1007 non-null   float64
 59  SYF     1007 non-null   float64
 60  T       1007 non-null   float64
 61  UNH     1007 non-null   float64
 62  UPS     1007 non-null   float64
 63  VZ      1007 non-null   float64
 64  WFC     1007 non-null   float64
dtypes: datetime64[ns](1), float64(64)
memory usage: 519.2 KB

In [11]:
# Get stock volume dataframe info
stock_vol_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1007 entries, 0 to 1006
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1007 non-null   datetime64[ns]
 1   AAPL    1007 non-null   float64
 2   ABT     1007 non-null   float64
 3   ACN     1007 non-null   float64
 4   ADM     1007 non-null   float64
 5   AEP     1007 non-null   float64
 6   AES     1007 non-null   float64
 7   AMAT    1007 non-null   float64
 8   AMGN    1007 non-null   float64
 9   ANTM    1007 non-null   float64
 10  AXP     1007 non-null   float64
 11  BBY     1007 non-null   float64
 12  BDX     1007 non-null   float64
 13  BLK     1007 non-null   float64
 14  C       1007 non-null   float64
 15  CI      1007 non-null   float64
 16  CL      1007 non-null   float64
 17  CLX     1007 non-null   float64
 18  COF     1007 non-null   float64
 19  CSCO    1007 non-null   float64
 20  DE      1007 non-null   float64
 21  DLR     1007 non-null   float64
 22  EBAY    1007 non-null   float64
 23  ECL     1007 non-null   float64
 24  EIX     1007 non-null   float64
 25  EMN     1007 non-null   float64
 26  EQIX    1007 non-null   float64
 27  ES      1007 non-null   float64
 28  ETR     1007 non-null   float64
 29  EXC     1007 non-null   float64
 30  F       1007 non-null   float64
 31  FDX     1007 non-null   float64
 32  GIS     1007 non-null   float64
 33  GS      1007 non-null   float64
 34  HIG     1007 non-null   float64
 35  HPE     1007 non-null   float64
 36  HSY     1007 non-null   float64
 37  IBM     1007 non-null   float64
 38  INTC    1007 non-null   float64
 39  INTU    1007 non-null   float64
 40  JNJ     1007 non-null   float64
 41  JPM     1007 non-null   float64
 42  KMB     1007 non-null   float64
 43  LMT     1007 non-null   float64
 44  LOW     1007 non-null   float64
 45  MA      1007 non-null   float64
 46  MRK     1007 non-null   float64
 47  MSFT    1007 non-null   float64
 48  NDAQ    1007 non-null   float64
 49  NEM     1007 non-null   float64
 50  NLSN    1007 non-null   float64
 51  NOC     1007 non-null   float64
 52  NVDA    1007 non-null   float64
 53  OC      1007 non-null   float64
 54  PEP     1007 non-null   float64
 55  PG      1007 non-null   float64
 56  QCOM    1007 non-null   float64
 57  RF      1007 non-null   float64
 58  SPGI    1007 non-null   float64
 59  SYF     1007 non-null   float64
 60  T       1007 non-null   float64
 61  UNH     1007 non-null   float64
 62  UPS     1007 non-null   float64
 63  VZ      1007 non-null   float64
 64  WFC     1007 non-null   float64
dtypes: datetime64[ns](1), float64(64)
memory usage: 519.2 KB

In [12]:
# Statistical desctiption of stocks volume
stock_vol_df.describe()

Ticker,AAPL,ABT,ACN,ADM,AEP,AES,AMAT,AMGN,ANTM,AXP,...,PG,QCOM,RF,SPGI,SYF,T,UNH,UPS,VZ,WFC
count,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,...,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03,1.007000e+03
mean,1.212976e+08,5.840448e+06,2.139810e+06,3.132424e+06,2.809215e+06,5.869969e+06,9.422596e+06,2.827744e+06,1.419159e+06,3.963367e+06,...,8.137602e+06,1.124976e+07,1.047984e+07,1.376994e+06,6.121506e+06,3.883083e+07,3.641170e+06,3.459490e+06,1.628516e+07,2.851028e+07
std,5.689916e+07,3.110829e+06,9.318082e+05,1.362099e+06,1.300774e+06,2.316542e+06,4.411325e+06,1.292352e+06,7.078956e+05,2.015011e+06,...,3.453056e+06,8.192157e+06,4.566209e+06,7.454552e+05,3.651345e+06,1.982001e+07,2.071274e+06,1.998522e+06,6.758625e+06,1.464035e+07
min,4.100000e+07,1.067700e+06,5.281000e+05,4.116000e+05,4.401000e+05,9.862000e+05,1.409200e+06,6.128000e+05,2.245000e+05,7.070000e+05,...,2.022100e+06,2.120200e+06,2.588200e+06,3.630000e+05,8.444000e+05,8.697200e+06,7.140000e+05,8.359000e+05,5.763700e+06,4.635500e+06
25%,8.358420e+07,4.105850e+06,1.567750e+06,2.242350e+06,2.083450e+06,4.219500e+06,6.432100e+06,2.086100e+06,9.778500e+05,2.704050e+06,...,6.023050e+06,7.199550e+06,7.528500e+06,9.229000e+05,4.170500e+06,2.708660e+07,2.516100e+06,2.372300e+06,1.190225e+07,1.819330e+07
50%,1.064352e+08,5.130300e+06,1.932600e+06,2.780800e+06,2.532000e+06,5.518400e+06,8.413900e+06,2.548900e+06,1.247200e+06,3.380900e+06,...,7.334900e+06,9.471700e+06,9.464600e+06,1.207800e+06,5.271100e+06,3.381840e+07,3.094300e+06,2.943100e+06,1.482170e+07,2.386540e+07
75%,1.426222e+08,6.568200e+06,2.395450e+06,3.661050e+06,3.211800e+06,7.041050e+06,1.128855e+07,3.184000e+06,1.647050e+06,4.533550e+06,...,9.186750e+06,1.278855e+07,1.236490e+07,1.613200e+06,7.119800e+06,4.431680e+07,4.162050e+06,3.925850e+06,1.863140e+07,3.493305e+07
max,4.265100e+08,4.754020e+07,8.561500e+06,1.136810e+07,2.245570e+07,2.101100e+07,5.258420e+07,1.687840e+07,7.352000e+06,1.726170e+07,...,3.309570e+07,1.560193e+08,5.115560e+07,9.770400e+06,6.933200e+07,2.470524e+08,2.736140e+07,3.097090e+07,5.540630e+07,1.189526e+08

In [13]:
# Statistical desctiption of stocks price
stock_price_df.describe()

Ticker,AAPL,ABT,ACN,ADM,AEP,AES,AMAT,AMGN,ANTM,AXP,...,PG,QCOM,RF,SPGI,SYF,T,UNH,UPS,VZ,WFC
count,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,...,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000
mean,90.187187,93.883148,224.918997,49.420983,83.281897,18.675213,75.646117,213.830646,306.662781,123.680626,...,118.755055,100.542205,17.005114,296.940358,34.542423,30.949176,313.055313,140.926971,55.938133,44.170050
std,43.161803,22.392827,67.350804,10.458563,8.160328,4.783247,39.463232,24.585995,63.387123,28.077615,...,23.732809,39.589642,3.892581,89.006094,8.597946,3.796162,76.991150,40.815800,3.368892,10.519539
min,35.547501,57.570000,133.669998,29.309999,62.930000,9.560000,28.990000,166.050003,174.679993,68.959999,...,70.940002,49.400002,7.360000,159.000000,12.800000,22.170000,194.860001,86.169998,46.290001,21.139999
25%,50.671249,75.789997,168.635002,42.240002,78.779999,14.765000,45.934999,193.009995,264.145004,101.615002,...,101.415001,66.695004,14.575000,211.405006,29.690001,28.735000,250.695000,108.520000,54.055000,38.125000
50%,74.702499,88.300003,201.589996,46.000000,84.139999,17.670000,57.860001,215.110001,286.500000,117.349998,...,122.480003,86.989998,16.549999,289.579987,33.849998,30.440001,288.239990,118.610001,56.459999,47.560001
75%,128.464996,116.570000,265.615005,57.485001,89.334999,23.320000,118.424999,234.985001,343.190002,142.989998,...,137.689995,135.389999,19.615001,361.210007,39.635000,32.669998,362.720001,172.709999,58.424999,52.055000
max,182.009995,141.460007,415.420013,84.309998,104.330002,28.910000,167.000000,260.950012,476.839996,198.380005,...,164.210007,189.279999,25.410000,478.970001,52.360001,39.630001,505.579987,232.110001,62.070000,59.189999

In [15]:
# Function to plot interactive plots using Plotly Express
def create_plot(df, title, name = ''):
    title = name +  ' ' + title
    fig = px.line(title = title)
    for i in df.columns[1:]:
        fig.add_scatter(x = df['Date'], y = df[i], name = i)
        
    fig.update_layout(
    width=1000,
    height=500
    )
    
    fig.write_image("Group_2_Project/Images/Sample_Stock_prediction1.png", engine="kaleido")
    fig.show()